<div class="blog-section section pt-200 pb-60" ng-if="$ctrl.isHome">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
        <div class="blog-item">
          <img ng-src="{{$ctrl.info.image_1_crop}}" alt="">
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
        <div class="blog-item">
          <img ng-src="{{$ctrl.info.image_2_crop}}" alt="">
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
        <div class="blog-item">
          <img ng-src="{{$ctrl.info.image_3_crop}}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
