<div class="footer-top-section section pb-60 pt-100 mt-150">
  <div class="container">
    <div class="row">
      <!-- Footer Widget -->
      <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
        <h4 class="widget-title">Contacto</h4>
        <p><strong>Dirección :</strong> <span>{{$ctrl.info.address}}</span></p>
        <p><strong>Télefono :</strong> <span>{{$ctrl.info.phone}}</span></p>
        <p><strong>Email :</strong> <a href="#">{{$ctrl.info.email}}</a></p>
        <!-- Footer Social -->
        <!-- <div class="footer-social fix">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-rss"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div> -->
      </div>
      <!-- Footer Widget -->
      <div class="footer-widget link-widget col-md-3 col-sm-6 col-xs-12 mb-40">
	<a href="https://jovial-visvesvaraya-27a7e2.netlify.com">Términos y condiciones</a>

	</div>
      <!-- Footer Widget -->
      <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
      </div>
      <!-- Footer Widget -->
      <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
      </div>
    </div>
  </div>
</div>
