<div class="header-section section sticker header-transparent" ng-class="{'bg': $ctrl.isHome === false}" >
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-6">
        <div class="header-logo">
          <a ng-if="$ctrl.userRole.type === 'buyer'" ui-sref="home">
            <img src="img/logo.png" alt="Mercado al Revés">
          </a>
          <a ng-if="$ctrl.userRole.type === 'seller'" ui-sref="quotations">
            <img src="img/logo.png" alt="Mercado al Revés">
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6 float-right">
        <div class="header-option-btns float-right">
          <!-- header Account -->
          <div class="header-account alt-menu float-left hidden-xs" ng-show="$ctrl.loggedIn">
            <ul>
              <li>
                <a ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn" ui-sref="quotationsList">Mis cotizaciones</a>
                <a ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn" ui-sref="myProducts">Mis productos</a>
              </li>
            </ul>
          </div>

          <div class="header-account float-left" ng-show="$ctrl.loggedIn">
            <ul>
              <li>
                <a href="javascript:;" data-toggle="dropdown">
                  <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu">
                  <!-- buyer -->
                  <!-- <li ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn">
                    <a ng-click="$ctrl.goToInitRolePage()">Inicio</a>
                  </li> -->
                  <li ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn">
                    <a ui-sref="profile">Mi cuenta</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn">
                    <a ui-sref="favoriteProducts">Favoritos</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn">
                    <a ui-sref="purchases({id: $ctrl.userId})">Mis compras</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn">
                    <a ui-sref="purchaseComplaintsList">Reclamos</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn">
                    <a ui-sref="resetpass">Cambiar contraseña</a>
                  </li>

                  <!-- Seller -->
                  <li ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn">
                    <a ui-sref="profile">Mi cuenta</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn">
                    <a ui-sref="myOffers">Mis ofertas</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn">
                    <a ui-sref="sales({id: $ctrl.userId})">Mis ventas</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn">
                    <a ui-sref="purchaseComplaintsList">Reclamos</a>
                  </li>
                  <li ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn">
                    <a ui-sref="resetpass">Cambiar contraseña</a>
                  </li>

                  <!-- Common -->
                  <li ng-if="$ctrl.loggedIn">
                    <a ng-click="$ctrl.switchRole()">
                      {{$ctrl.userRole.type === 'buyer' ? 'Cambiar a vendedor' : 'Cambiar a comprador'}}
                    </a>
                  </li>
                  <li ng-if="$ctrl.loggedIn">
                    <a ng-click="$ctrl.logout()">Salir</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="header-cart float-left">
            <a ng-show="$ctrl.loggedIn" class="cart-toggle" ui-sref="questions">
              <i class="fa fa-envelope"></i>
            </a>
          </div>

          <div class="header-account alt-menu float-left" ng-hide="$ctrl.loggedIn">
            <ul>
              <li>
                <a ui-sref="login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-xs-12">
        <nav class="main-menu text-center">
          <ul>
            <li>
              <a ng-if="$ctrl.userRole.type === 'buyer'" ui-sref="home">Home</a>
              <a ng-if="$ctrl.userRole.type === 'seller'" ui-sref="quotations">Cotizaciones</a>
            </li>
            <li>
              <a ui-sref="productFind">Productos</a>
            </li>
            <li>
              <a ng-if="$ctrl.userRole.type === 'buyer'" ui-sref="quotationsCreate">Ofertas a medida</a>
              <a ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn" ui-sref="productCreate">Cargar producto</a>
            </li>
            <li>
              <a ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn" ui-sref="quotationsList" class="visible-xs">Mis cotizaciones</a>
              <a ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn" ui-sref="myProducts" class="visible-xs">Mis productos</a>
            </li>
            <!-- <li>
              <a ng-if="$ctrl.userRole.type === 'buyer' && $ctrl.loggedIn" ui-sref="quotationsList">Mis cotizaciones</a>
              <a ng-if="$ctrl.userRole.type === 'seller' && $ctrl.loggedIn" ui-sref="myProducts">Mis productos</a>
            </li> -->
          </ul>
        </nav>
        <div class="mobile-menu"></div>
      </div>
    </div>
  </div>
</div>

