<div class="home-slider-section section" ng-if="$ctrl.isHome">
  <img ng-show="$ctrl.info.image_main" ng-src="{{$ctrl.info.image_main}}" alt="home" width="100%">
</div>


<div style="margin: 0 0 0 50%;">
    <div class="product-details">
    <div class="quantity-cart section">
      <button class="add-to-cart" role="button" ui-sref="productFind">Cotizá</button>
    </div>
  </div>
</div>