<div ng-show="$ctrl.show">
  <div class="loading__overlay"></div>
  <div class="loading">
    <div class="bars">
      <div class="loading--bar"></div>
      <div class="loading--bar"></div>
      <div class="loading--bar"></div>
      <div class="loading--bar"></div>
    </div>
  </div>
</div>
