<div ng-if="$ctrl.view === 'grid'" class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-xs-wide mb-40">
  <div class="product-item text-center">
    <div class="product-img">
      <a class="image" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer === false" ui-sref="quotationCustomDetail({id: $ctrl.quotation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <a class="image" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer" ui-sref="quotationCustomDetail({id: $ctrl.quotation.custom_estimation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <a class="image" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer === false" ui-sref="quotationDetail({id: $ctrl.quotation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <a class="image" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer" ui-sref="quotationDetail({id: $ctrl.quotation.estimation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <div class="action-btn fix">
        <a class="full" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer === false" ui-sref="quotationCustomDetail({id: $ctrl.quotation.id})" title="Ver detalle"><i class="fa fa-eye"></i></a>
        <a class="full" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer" ui-sref="quotationCustomDetail({id: $ctrl.quotation.custom_estimation.id})" title="Ver detalle"><i class="fa fa-eye"></i></a>

        <a class="full" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer === false" ui-sref="quotationDetail({id: $ctrl.quotation.id})" title="Ver detalle"><i class="fa fa-eye"></i></a>
        <a class="full" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer" ui-sref="quotationDetail({id: $ctrl.quotation.estimation.id})" title="Ver detalle"><i class="fa fa-eye"></i></a>
      </div>
    </div>
    <div class="product-info">
      <h5 class="title" ng-show="$ctrl.type === 'generic'">
        <a ng-hide="::$ctrl.userOffer">{{$ctrl.quotation.product}}</a>
        <a ng-show="::$ctrl.userOffer">{{$ctrl.quotation.product_name}}</a>
      </h5>

      <h5 class="title" ng-show="$ctrl.type === 'custom'">
        Producto solicitado: {{::$ctrl.quotation.requested_product}}
        <!-- <a>Personalizada</a> -->
      </h5>

      <span class="price">
        <ul class="list-unstyled attr-list" ng-hide="::$ctrl.userOffer">
          <!-- <li ng-show="$ctrl.type == 'custom'">Producto solicitado: {{::$ctrl.quotation.requested_product}}</li> -->
          <li ng-if="$ctrl.quotation.is_active" class="text-success">Finaliza: en {{$ctrl.quotation.remainingDays}} d</li>
          <li ng-if="!$ctrl.quotation.is_active" class="text-warning">Terminada</li>
          <li>Ofertas recibidas: {{$ctrl.quotation.offers.length}}</li>
        </ul>

        <ul class="list-unstyled attr-list" ng-show="$ctrl.userOffer && $ctrl.type === 'generic'">
          <li>Precio: ${{$ctrl.quotation.price}}</li>
          <li>Cantidad: {{$ctrl.quotation.estimation.count}}</li>
          <li>Finaliza: {{$ctrl.quotation.estimation.date_end | date:'dd-MM-yyyy'}}</li>
        </ul>

        <ul class="list-unstyled attr-list" ng-show="$ctrl.userOffer && $ctrl.type === 'custom'">
          <li>Precio: ${{$ctrl.quotation.price}}</li>
          <li>Cantidad: {{$ctrl.quotation.custom_estimation.count}}</li>
          <li>Finaliza: {{$ctrl.quotation.custom_estimation.date_end | date:'dd-MM-yyyy'}}</li>
        </ul>
      </span>
    </div>
  </div>
</div>

<!-- list product-item start -->
<div ng-if="$ctrl.view === 'list'" class="col-xs-12 mb-40">
  <div class="list-product-item row">

    <div class="list-product-img col-md-4 col-xs-12">
      <a class="image" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer === false" ui-sref="quotationCustomDetail({id: $ctrl.quotation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <a class="image" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer" ui-sref="quotationCustomDetail({id: $ctrl.quotation.custom_estimation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <a class="image" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer === false" ui-sref="quotationDetail({id: $ctrl.quotation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>

      <a class="image" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer" ui-sref="quotationDetail({id: $ctrl.quotation.estimation.id})" title="Ver detalle">
        <img ng-src="{{::$ctrl.productImage}}">
      </a>
    </div>

    <div class="fix col-md-8 col-xs-12">
      <h2 class="title" ng-hide="$ctrl.type == 'custom'">
        <a ng-hide="::$ctrl.userOffer">{{$ctrl.quotation.product}}</a>
        <a ng-show="::$ctrl.userOffer">{{$ctrl.quotation.product_name}}</a>
      </h2>

      <ul class="list-unstyled attr-list" ng-hide="::$ctrl.userOffer">
        <li ng-show="$ctrl.type == 'custom'">Producto solicitado: {{::$ctrl.quotation.requested_product}}</li>
        <li>Cantidad: {{::$ctrl.quotation.count}}</li>
        <li ng-if="$ctrl.quotation.is_active" class="text-success">Finaliza: en {{$ctrl.quotation.remainingDays}} d</li>
        <li ng-if="!$ctrl.quotation.is_active" class="text-warning">Terminada</li>
        <li>Ofertas recibidas: {{$ctrl.quotation.offers.length}}</li>
      </ul>

      <ul class="list-unstyled attr-list" ng-show="$ctrl.userOffer && $ctrl.type === 'generic'">
        <li>Precio: ${{$ctrl.quotation.price}}</li>
        <li>Cantidad: {{$ctrl.quotation.estimation.count}}</li>
        <li>Finaliza: {{$ctrl.quotation.estimation.date_end | date:'dd-MM-yyyy'}}</li>
      </ul>

      <ul class="list-unstyled attr-list" ng-show="$ctrl.userOffer && $ctrl.type === 'custom'">
        <li>Precio: ${{$ctrl.quotation.price}}</li>
        <li>Cantidad: {{$ctrl.quotation.custom_estimation.count}}</li>
        <li>Finaliza: {{$ctrl.quotation.custom_estimation.date_end | date:'dd-MM-yyyy'}}</li>
      </ul>

      <div class="list-action-btn fix">
        <a class="add-to-cart" ui-sref="quotationsCreate({id: $ctrl.product.id})" ng-show="$ctrl.userRole === 'buyer' && $ctrl.isPriceLoadedByUser === false">Cotización</a>

        <a class="add-to-cart" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer === false" ui-sref="quotationCustomDetail({id: $ctrl.quotation.id})">Ver detalle</a>
        <a class="add-to-cart" ng-if="$ctrl.type === 'custom' && $ctrl.userOffer" ui-sref="quotationCustomDetail({id: $ctrl.quotation.custom_estimation.id})">Ver detalle</a>

        <a class="add-to-cart" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer === false" ui-sref="quotationDetail({id: $ctrl.quotation.id})">Ver detalle</a>
        <a class="add-to-cart" ng-if="$ctrl.type === 'generic' && $ctrl.userOffer" ui-sref="quotationDetail({id: $ctrl.quotation.estimation.id})">Ver detalle</a>
      </div>

    </div>
  </div>
</div>
<!-- list product-item end -->
