<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-12 col-sm-6">
        <h2>Nueva cotización</h2>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="error-messages">
  <span class="help-block" ng-message="required"><small>Este campo es requerido</small></span>
  <span class="help-block" ng-message="maxlength"><small>Valor ingresado muy largo</small></span>
  <span class="help-block" ng-message="pattern"><small>Solo valores numericos</small></span>
</script>

<div class="panel">
  <div class="panel-heading" ng-hide="vm.genericQuotation">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body p-0 mt-290">
    <div class="alert alert-success" role="alert" ng-if="vm.status.success">
      <div class="row">
        <div class="col-md-6">
          <p class="mt-3">
            <strong>Aviso:</strong> datos guardados con exito
          </p>
        </div>
        <div class="col-md-6 text-right">
          <a ui-sref="home" class="btn btn-primary">Ir al inicio</a>
        </div>
      </div>
    </div>

    <div class="mar-form" ng-if="vm.status.success === false">
      <h3>{{::vm.product.name}}&nbsp;</h3>
      <form class="form-horizontal m-0" name="form" role="form">
        <fieldset>

          <!-- Step 1 -->
          <div ng-show="vm.step === 0">

            <div class="form-group" ng-class="{'has-error': form.product.$dirty && form.product.$error.required }" ng-show="vm.genericQuotation">
              <label class="col-md-4 control-label" for="product">Producto</label>
              <div class="col-md-4">
                <input id="product"
                  name="product"
                  type="text"
                  placeholder="Producto"
                  class="form-control input-md"
                  ng-model="::vm.quotation.requested_product"
                  ng-maxlength="40"
                />
                <span ng-messages="form.product.$error" ng-if="form.product.$dirty" class="has-error" role="alert">
                  <div ng-messages-include="error-messages"></div>
                </span>
              </div>
            </div>

            <div class="form-group" ng-if="vm.genericQuotation">
              <label class="col-md-4 control-label" for="category">Categoría</label>
              <div class="col-md-4">
                <select id="category"
                  name="category"
                  class="form-control"
                  ng-options="category as category.name for category in vm.categories track by category.id"
                  ng-model="vm.quotation.category"
                  ng-change="vm.updateSubCategory()"
                  required>
                </select>
              </div>
            </div>

            <div class="form-group" ng-if="vm.genericQuotation">
              <label class="col-md-4 control-label" for="subcategory">Sub categoría</label>
              <div class="col-md-4">
                <select id="subcategory"
                  name="subcategory"
                  class="form-control"
                  ng-options="subCategory as subCategory.name for subCategory in vm.subCategories track by subCategory.id"
                  ng-model="::vm.quotation.subCategory"
                  required>
                </select>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error': form.date_end.$dirty && form.date_end.$error.required }">
              <label class="col-md-4 control-label" for="textinput">Fecha de finalización</label>
              <div class="col-md-4">
                <p class="input-group">
                  <input type="text"
                    name="date_end"
                    id="date_end"
                    class="form-control"
                    placeholder="Fecha de finalización"
                    uib-datepicker-popup="{{::vm.calendar.format}}"
                    ng-model="::vm.quotation.date_end"
                    is-open="vm.calendar.openedEnd"
                    show-button-bar="false"
                    datepicker-options="vm.calendar.dateOptions"
                    close-text="Cerrar"
                    required/>

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.calendar.openEnd()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
                <span ng-messages="form.date_end.$error" ng-if="form.date_end.$dirty" class="has-error" role="alert">
                  <div ng-messages-include="error-messages"></div>
                </span>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error': form.count.$dirty && form.count.$error.required }">
              <label class="col-md-4 control-label" for="textinput">Cantidad</label>
              <div class="col-md-4">
                <input id="count"
                  name="count"
                  type="text"
                  placeholder="Cantidad"
                  class="form-control input-md"
                  ng-model="::vm.quotation.count"
                  ng-pattern="/^\d+$/"
                  ng-maxlength="4"
                  required/>

                <span ng-messages="form.count.$error" ng-if="form.count.$dirty" class="has-error" role="alert">
                  <div ng-messages-include="error-messages"></div>
                </span>
              </div>
            </div>

            <div class="form-group" ng-if="vm.genericQuotation === false">
              <label class="col-md-4 control-label" for="textinput">Comentarios</label>
              <div class="col-md-4">
                <textarea ng-model="vm.quotation.comments" class="form-control" rows="4"></textarea>
              </div>
            </div>

            <div class="form-group" ng-if="vm.genericQuotation === true">
              <div class="col-md-offset-4 col-md-4">
                <button type="button" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="vm.next()">Siguiente</button>
              </div>
            </div>

            <div class="form-group" ng-if="vm.genericQuotation === false">
              <div class="col-md-offset-4 col-md-4">
                <button type="button" ng-click="vm.save()" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Guardar cotización</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a ui-sref="home" class="btn btn-link">Cancelar</a>
              </div>
            </div>
          </div>

          <!-- Step 2 -->
          <div ng-show="vm.step === 1">
            <div ng-repeat="(group, features) in vm.attributes">
                <h4>{{group}}:</h4>

                <div ng-repeat="(feature, attributes) in features">
                  <h5 class="ml-3">{{feature}}</h5>
                  <div class="form-group has-feedback" ng-repeat="attribute in attributes">
                    <label class="ml-5 col-md-4">
                        {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}: &nbsp;
                        <input type="radio" value="{{attribute.id}}" name="{{attribute.feature}}" ng-model="vm.attributeSelected[attribute.feature]" />
                    </label>
                  </div>
                </div>
              </div>

            <hr>

            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Comentarios</label>
              <div class="col-md-4">
                <textarea ng-model="vm.comments" class="form-control" rows="4"></textarea>
              </div>
            </div>

            <!--<div class="form-group has-feedback">
              <label class="col-md-4 control-label" for="textinput">Ubicación</label>
              <div class="col-md-4">
                <input id="location"
                  name="location"
                  type="text"
                  placeholder="Ubicación"
                  class="form-control input-md"
                  ng-model="::vm.quotation.location"
                  uib-typeahead="location for location in vm.locations | filter:$viewValue"/>

                <span ng-messages="form.location.$error" ng-if="form.location.$dirty" class="has-error" role="alert">
                  <div ng-messages-include="error-messages"></div>
                </span>
              </div>
            </div>-->

            <div class="form-group" ng-hide="vm.genericQuotation">
              <div class="col-md-offset-4 col-md-4">
                <label class="checkbox-inline">
                  <input type="radio" name="product-type" value="N" ng-model="signupVm.user.type_user" /> Nuevo
                </label>
                <label class="checkbox-inline">
                  <input type="radio" name="product-type" value="O" ng-model="signupVm.user.type_user" /> Usado
                </label>
              </div>
            </div>

            <hr>

            <!-- Image load removed
            <div ng-show="vm.genericQuotation" class="form-group has-feedback">
              <label class="col-md-4 control-label" for="filebutton1">Imagen 1</label>
              <div class="col-md-4">
                <input id="filebutton1" name="filebutton1" class="input-file" type="file" fileread="vm.quotation.image_1">
              </div>
            </div>

            <div ng-show="vm.genericQuotation" class="form-group has-feedback">
              <label class="col-md-4 control-label" for="filebutton2">Imagen 2</label>
              <div class="col-md-4">
                <input id="filebutton2" name="filebutton2" class="input-file" type="file" fileread="vm.quotation.image_2">
              </div>
            </div>-->

            <div class="form-group">
              <div class="col-md-offset-4 col-md-4">
                <button type="button" ng-click="vm.saveCustom()" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Guardar cotización</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a ui-sref="home" class="btn btn-link">Cancelar</a>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Aviso</h3>
  </div>
  <div class="modal-body" id="modal-body">
    Debe completar los datos de entrega antes de poder realizar una cotización
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="md.ok()">Aceptar</button>
    <button class="btn btn-warning" type="button" ng-click="md.cancel()">Cancelar</button>
  </div>
</script>

<loading show="vm.dataLoading"><loading>
