<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Ofertas</h2>
      </div>
    </div>
  </div>
</div>

<ul class="list-group">
  <li ng-repeat="offer in vm.offers | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage" class="list-group-item">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <span>{{offer.seller}}</span>
          </div>
          <div class="col-xs-12">
            <small>{{offer.location}}&nbsp;</small>
          </div>
          <div class="col-xs-12">
            <span ng-repeat="i in [] | range:offer.seller_reputation" class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </div>
        </div>
      </div>

      <div class="col-xs-6 text-right">
        <div class="row">
          <div class="col-xs-12">
            <span>${{offer.price}}</span>
          </div>
          <div class="col-xs-12">&nbsp;</div>
          <div class="col-xs-12">
            <span>
              <button ui-sref="offerBuy({sellerId: offer.seller_id, offerId: offer.id})" class="btn btn-primary btn-xs">Comprar</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<div class="page-pagination text-center col-xs-12 fix mb-40">
  <ul
    uib-pagination
    total-items="vm.pagination.totalItems"
    ng-if="vm.pagination.totalItems"
    ng-model="vm.pagination.currentPage"
    items-per-page="vm.pagination.itemsPerPage"
    class="pagination-sm"
    previous-text="&lsaquo;"
    next-text="&rsaquo;"
    first-text="&laquo;"
    last-text="&raquo;">
  </ul>
</div>
