<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2 ng-show="vm.selfQuotations === false && vm.showMyOffers === false">Cotizaciones</h2>
        <h2 ng-show="vm.selfQuotations === true && vm.showMyOffers === false">Mis cotizaciones</h2>
        <h2 ng-show="vm.selfQuotations === false && vm.showMyOffers === true">Mis ofertas</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60" ng-if="vm.selfQuotations === false && vm.showMyOffers">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40"></div>
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">

          <div class="item-per-page ml-1">
            <select
              ng-model="vm.offerSort.state"
              ng-change="vm.searchMyOffers()">
              <option value="in-progress=true">Vigentes</option>
              <option value="expired=true">Vencida</option>
              <option value="successfully=true">Exitosa</option>
              <option value="">Estado</option>
            </select>
          </div>

          <div class="item-per-page ml-1">
            <select
              name="category"
              ng-options="category as category.name for category in vm.categories track by category.id"
              ng-model="vm.offerSort.category"
              ng-change="vm.searchMyOffers()">
              <option value="">Categorías</option>
            </select>
          </div>

          <div class="item-per-page ml-1">
            <select
              name="order"
              ng-model="vm.offerSort.orderBy"
              ng-change="vm.searchMyOffers()">
              <option value="-date_created">
                Recientes
              </option>
              <option value="date_created">
                Anteriores
              </option>
              <option value="price">
                Precio de menor a mayor
              </option>
              <option value="-price">
                Precio de mayor a menor
              </option>
              <option value="">Ordenar por</option>
            </select>
          </div>

        </div>
      </div>

      <div class="col-xs-12">
        <div class="wishlist-table table-responsive mb-40">
          <table>
            <thead>
              <tr>
                <th class="pro-thumbnail">Imagen</th>
                <th class="pro-price">Cotización</th>
                <th class="pro-title">Comprador</th>
                <th class="pro-title">Fecha Inicio</th>
                <th class="pro-title">&nbsp;&nbsp;Fecha Fin&nbsp;&nbsp;</th>
                <th class="pro-title">Producto</th>
                <th class="pro-stock-stauts">Cantidad</th>
                <th class="">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="quotation in vm.offers">
                <td class="pro-thumbnail">
                  <img ng-src="{{quotation.thumb_url_1 || quotation.default_image}}" alt="" />
                </td>
                <td class="pro-price"><span class="amount">${{quotation.price}}</span></td>
                <td class="pro-title">{{quotation.buyer}}</td>
                <td class="pro-title">{{quotation.date_created | date:'dd-MM-yyyy'}}</td>
                <td ng-show="vm.getOfferType(quotation) === 'generic'" class="pro-title">{{quotation.estimation.date_end | date:'dd-MM-yyyy'}}</td>
                <td ng-show="vm.getOfferType(quotation) === 'custom'" class="pro-title">{{quotation.custom_estimation.date_end | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">
                  <a ng-hide="vm.showMyOffers">{{quotation.product}}</a>
                  <a ng-show="vm.showMyOffers">{{quotation.product_name}}</a>
                </td>
                <td ng-show="vm.getOfferType(quotation) === 'generic'" class="pro-stock-stauts"><span class="in-stock">{{quotation.estimation.count}}</span></td>
                <td ng-show="vm.getOfferType(quotation) === 'custom'" class="pro-stock-stauts"><span class="in-stock">{{quotation.custom_estimation.count}}</span></td>
                <td>
                  <a ng-show="vm.showMyOffers === false" ui-sref="quotationDetail({id: quotation.estimation.id})">Detalle</a>
                  <a ng-show="vm.showMyOffers && vm.getOfferType(quotation) === 'generic'" ui-sref="quotationDetailOffer({id: quotation.estimation.id})">Detalle</a>
                  <a ng-show="vm.showMyOffers && vm.getOfferType(quotation) === 'custom'" ui-sref="quotationCustomDetailOffer({id: quotation.custom_estimation.id})">Detalle</a>
                  <a ng-show="vm.offerLoadedByUser(quotation) && vm.getOfferType(quotation) === 'generic'" ui-sref="quotationUpdateOffer({quotationId: quotation.estimation.id})">Actualizar</a>
                  <a ng-show="vm.offerLoadedByUser(quotation) && vm.getOfferType(quotation) === 'custom'" ui-sref="quotationUpdateOffer({quotationId: quotation.custom_estimation.id})">Actualizar</a>
                </td>
              </tr>

              <tr ng-repeat="quotation in vm.quotationsCustomList | startFrom:(vm.pCQ.currentPage - 1)*vm.pCQ.itemsPerPage | limitTo:vm.pCQ.itemsPerPage track by $index">
                <td class="pro-thumbnail">
                  <img ng-src="{{quotation.default_image}}" alt="" />
                </td>
                <td class="pro-price"><span class="amount">{{quotation.price}}</span></td>
                <td class="pro-title">{{quotation.buyer}}</td>
                <td class="pro-title">{{quotation.date_created | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">{{quotation.date_end | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">
                  <a>Personalizada</a>
                </td>
                <td class="pro-stock-stauts"><span class="in-stock">{{quotation.count}}</span></td>
                <td class="">
                  <a ng-if="vm.showMyOffers === false" ui-sref="quotationCustomDetail({id: quotation.id})">Ver detalle</a>
                  <a ng-if="vm.showMyOffers" ui-sref="quotationCustomDetail({id: quotation.custom_estimation.id})">Ver detalle</a>
                  <a ng-show="vm.offerLoadedByUser(quotation)" ui-sref="quotationUpdateOffer({quotationId: vm.quotation.id})">Actualizar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60" ng-if="vm.userRole === 'seller' && vm.showMyOffers === false">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40">
          <!-- <form class="sidebar-search" ng-submit="vm.search()">
            <input
              id="product"
              type="text"
              placeholder="Cotización"
              ng-model="vm.product.product"
              ng-keypress="vm.search($event)">
            <button class="submit">
              <i class="fa fa-search"></i>
            </button>
          </form> -->
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">

          <div class="item-per-page ml-1">
            <select id="state"
              ng-model="vm.quotation.state"
              ng-change="vm.search()">
              <option value="active=True">Vigentes</option>
              <option value="with-offers=False">Sin ofertas</option>
              <option value="with-offers=True">Con ofertas</option>
              <option value="successful=True">Exitosa</option>
              <option value="expired=True">Vencida</option>
              <option value="">Estado</option>
            </select>
          </div>

          <div class="item-per-page ml-1">
            <select id="category"
              name="category"
              ng-options="category as category.name for category in vm.categories track by category.id"
              ng-model="vm.quotation.category"
              ng-change="vm.search()">
              <option value="">Categoría</option>
            </select>
          </div>

          <div class="item-per-page ml-1">
            <select id="order"
              name="order"
              ng-model="vm.quotation.orderBy"
              ng-change="vm.search()">
              <option value="date_created">Recientes</option>
              <option value="date_end">Proximas a vencer</option>
              <option value="">Ordenar por</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="wishlist-table table-responsive mb-40">
          <table>
            <thead>
              <tr>
                <th class="pro-thumbnail">Imagen</th>
                <th class="pro-title">Producto</th>
                <th class="pro-stock-stauts">Cantidad</th>
                <th class="pro-title">Fecha Inicio</th>
                <th class="pro-title">&nbsp;&nbsp;Fecha Fin&nbsp;&nbsp;</th>
                <th class="pro-title">Comprador</th>
                <th class="pro-price">Oferta</th>
                <th class="">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="quotation in vm.quotationsList | startFrom:(vm.pQ.currentPage - 1)*vm.pQ.itemsPerPage | limitTo:vm.pQ.itemsPerPage track by $index">
                <td class="pro-thumbnail">
                  <img ng-src="{{quotation.thumb_url_1 || quotation.default_image}}" alt="" />
                </td>
                <td class="pro-title">
                  <a ng-hide="vm.showMyOffers">{{quotation.product}}</a>
                  <a ng-show="vm.showMyOffers">{{quotation.product_name}}</a>
                  <a ng-show="quotation.custom">{{quotation.requested_product}}</a>
                </td>
                <td class="pro-stock-stauts"><span class="in-stock">{{quotation.count}}</span></td>
                <td class="pro-title">{{quotation.date_created | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">{{quotation.date_end | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">{{quotation.buyer}}</td>
                <td class="pro-price">
                  <span ng-show="quotation.price !== '-'" class="amount">${{quotation.price}}</span>
                  <span ng-show="quotation.price === '-'" class="amount">{{quotation.price}}</span>
                </td>
                <td class="">
                  <a ng-if="vm.showMyOffers === false && quotation.custom === false" ui-sref="quotationDetail({id: quotation.id})">Detalle</a>
                  <a ng-if="vm.showMyOffers === false && quotation.custom" ui-sref="quotationCustomDetail({id: quotation.id})">Detalle</a>
                  <a ng-if="vm.showMyOffers" ui-sref="quotationDetail({id: quotation.estimation.id})">Detalle</a>
                  <a ng-show="vm.offerLoadedByUser(quotation)" ui-sref="quotationUpdateOffer({quotationId: quotation.id})">Actualizar</a>
                </td>
              </tr>

              <tr ng-repeat="quotation in vm.quotationsCustomList | startFrom:(vm.pCQ.currentPage - 1)*vm.pCQ.itemsPerPage | limitTo:vm.pCQ.itemsPerPage track by $index">
                <td class="pro-thumbnail">
                  <img ng-src="{{quotation.default_image}}" alt="" />
                </td>
                <td class="pro-price"><span class="amount">{{quotation.price}}</span></td>
                <td class="pro-title">{{quotation.buyer}}</td>
                <td class="pro-title">{{quotation.date_created | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">{{quotation.date_end | date:'dd-MM-yyyy'}}</td>
                <td class="pro-title">
                  <a>Personalizada</a>
                </td>
                <td class="pro-stock-stauts"><span class="in-stock">{{quotation.count}}</span></td>
                <td>
                  <a ng-if="vm.showMyOffers === false" ui-sref="quotationCustomDetail({id: quotation.id})">Detalle</a>
                  <a ng-if="vm.showMyOffers" ui-sref="quotationCustomDetail({id: quotation.custom_estimation.id})">Detalle</a>
                  <a ng-show="vm.offerLoadedByUser(quotation)" ui-sref="quotationUpdateOffer({quotationId: vm.quotation.id})">Actualizar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="page-pagination text-center col-xs-12 fix mb-40">
        <ul
          uib-pagination total-items="vm.pCQ.totalItems"
          ng-if="vm.pCQ.totalItems"
          ng-model="vm.pCQ.currentPage"
          items-per-page="vm.pCQ.itemsPerPage"
          class="pagination-sm"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;">
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60" ng-if="vm.userRole === 'buyer'">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40">
          <form class="sidebar-search" ng-submit="vm.search()">
            <input
              id="product"
              type="text"
              placeholder="Cotización"
              ng-model="vm.quotation.product"
              ng-keypress="vm.search($event)">
              <!-- uib-typeahead="product.name for product in vm.products | filter:$viewValue" -->
            <button class="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>

        </div>

        <div class="single-sidebar mb-40">
          <h3 class="sidebar-title">Categorías</h3>
          <ul class="category-sidebar">
            <li><a ng-click="vm.quotation.subCategory = undefined; vm.search()">Eliminar filtro</a></li>
            <li ng-repeat="category in vm.categories track by category.id">
              <a ng-class="vm.quotation.subCategory === category.id ? 'selected' : ''" ng-click="vm.quotation.subCategory = category.id; vm.search()">{{category.name}}</a>
            </li>
          </ul>
        </div>

        <div class="single-sidebar mb-40">
          <h3 class="sidebar-title">Estado</h3>
          <ul class="category-sidebar">
            <li><a ng-click="vm.quotation.state = undefined; vm.search()">Eliminar filtro</a></li>
            <li><a ng-class="vm.quotation.state === 'active=True' ? 'selected' : ''" ng-click="vm.quotation.state='active=True'; vm.search()">Vigentes</a></li>
            <li><a ng-class="vm.quotation.state === 'with-offers=False' ? 'selected' : ''" ng-click="vm.quotation.state='with-offers=False'; vm.search()">Sin ofertas</a></li>
            <li><a ng-class="vm.quotation.state === 'with-offers=True' ? 'selected' : ''" ng-click="vm.quotation.state='with-offers=True'; vm.search()">Con ofertas</a></li>
            <li><a ng-class="vm.quotation.state === 'successful=True'  ? 'selected' : ''" ng-click="vm.quotation.state='successful=True'; vm.search()">Exitosa</a></li>
            <li ng-if="vm.userRole === 'seller'"><a ng-class="vm.quotation.state === 'canceled=True' ? 'selected' : ''" ng-click="vm.quotation.state='canceled=True'; vm.search()">Cancelada</a></li>
            <li><a ng-class="vm.quotation.state === 'expired=True' ? 'selected' : ''" ng-click="vm.quotation.state='expired=True'; vm.search()">Vencida</a></li>
          </ul>
        </div>

        <!-- <div ng-repeat="(feature, options) in vm.attributes" class="single-sidebar mb-40">
          <h3 class="sidebar-title">{{feature}}</h3>
          <ul class="category-sidebar">
            <li ng-repeat="option in options">
              <a ng-click="vm.quotation.attr = option.id; vm.search()">{{option.name}}</a>
            </li>
          </ul>
        </div> -->
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">
          <ul class="shop-tablist">
            <li ng-class="vm.grid ? 'active' : ''">
              <a ng-click="vm.setGridView(true)" aria-expanded="false">
                <i class="fa fa-th"></i>
              </a>
            </li>
            <li ng-class="vm.grid ? '' : 'active'">
              <a ng-click="vm.setGridView(false)" aria-expanded="true">
                <i class="fa fa-list"></i>
              </a>
            </li>
          </ul>
          <div class="item-per-page">
            <select ng-model="vm.quotation.order_by" ng-change="vm.search()">
              <option value="date_created">Anteriores</option>
              <option value="-date_created">Más recientes</option>
              <option value="date_end">Próximas a vencer</option>
              <!-- <option value="-date_end">Fecha de inicio</option> -->
            </select>
          </div>
          <p>Cotizaciones {{vm.pQ.currentPage}}-{{vm.pQ.itemsPerPage}} de {{vm.pQ.totalItems}}</p>
          <!-- <div class="item-per-page ml-1">
            <select id="order"
              name="order"
              ng-model="vm.quotation.orderBy"
              ng-change="vm.search()">
              <option value="date_created">Recientes</option>
              <option value="date_end">Proximas a vencer</option>
              <option value="">Ordenar por</option>
            </select>
          </div> -->
        </div>

        <div class="tab-content section">
          <!-- Grid view -->
          <div class="tab-pane row" ng-class="vm.grid ? 'active' : ''">
            <div class="mb-5" ng-hide="vm.quotationsList.length || vm.quotationsCustomList.length || vm.showMyOffers">
              <h5 class="text-danger">No tienes cotizaciones para ver.</h5>
            </div>
            <quotation
              ng-repeat="quotation in vm.quotationsList | startFrom:(vm.pQ.currentPage - 1)*vm.pQ.itemsPerPage | limitTo:vm.pQ.itemsPerPage track by $index"
              quotation="quotation"
              type="{{quotation.custom ? 'custom' : 'generic'}}"
              user-offer="vm.showMyOffers"
              view="grid">
            </quotation>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination
                total-items="vm.pQ.totalItems"
                ng-if="vm.pQ.totalItems"
                ng-model="vm.pQ.currentPage"
                items-per-page="vm.pQ.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>

            </div>
          </div>

          <!-- List view -->
          <div class="tab-pane row" ng-class="vm.grid ? '' : 'active'">
            <div class="mb-5" ng-hide="vm.quotationsList.length || vm.quotationsCustomList.length || vm.showMyOffers">
              <h5 class="text-danger">No tienes cotizaciones para ver.</h5>
            </div>
            <quotation
              ng-repeat="quotation in vm.quotationsList | startFrom:(vm.pQ.currentPage - 1)*vm.pQ.itemsPerPage | limitTo:vm.pQ.itemsPerPage track by $index"
              quotation="quotation"
              type="{{quotation.custom ? 'custom' : 'generic'}}"
              user-offer="vm.showMyOffers"
              view="list">
            </quotation>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination
                total-items="vm.pQ.totalItems"
                ng-if="vm.pQ.totalItems"
                ng-model="vm.pQ.currentPage"
                items-per-page="vm.pQ.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>

          <!-- My Offers -->
          <!-- Grid view -->
          <div class="tab-pane row" ng-class="vm.grid ? 'active' : ''">
            <quotation
              ng-repeat="quotation in vm.offers"
              quotation="quotation"
              type="{{vm.getOfferType(quotation)}}"
              user-offer="vm.showMyOffers"
              view="grid">
            </quotation>
          </div>

          <!-- List view -->
          <div class="tab-pane row" ng-class="vm.grid ? '' : 'active'">
            <quotation
              ng-repeat="quotation in vm.offers"
              quotation="quotation"
              type="{{vm.getOfferType(quotation)}}"
              user-offer="vm.showMyOffers"
              view="view">
            </quotation>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<loading show="vm.dataLoading"><loading>
