<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2 ng-show="vm.isOffer">Detalle oferta</h2>
        <h2 ng-hide="vm.isOffer">Detalle cotización</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
      <div class="row mb-40">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-40">
          <prdslider ng-if="!vm.customQuotation" product="vm.product"></prdslider>
          <img ng-if="vm.customQuotation" alt="image" ng-src="{{vm.quotation.default_image}}">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 mb-40 pl-5">
          <div class="product-details">
            <h2 ng-show="vm.quotation.product" class="title">{{vm.quotation.product}}</h2>
            <h2 ng-show="vm.quotation.requested_product" class="title">{{vm.quotation.requested_product}}</h2>

            <!-- Offer loaded by user -->
            <div class="panel panel-default panel-reset mb-0" ng-show="::vm.userRole === 'seller' && vm.offerLoadedByUser">
              <div class="panel-body">
                <ul class="short-desc section">
                  <li class="offer">Precio: ${{vm.offer.price}}</li>
                  <li class="offer">Actualizado el: {{vm.offer.modified | date:'dd-MM-yyyy'}}</li>
                  <li class="offer">Descripción: {{vm.offer.description}}</li>
                </ul>
              </div>
            </div>

            <div class="panel panel-default panel-reset mb-0">
              <div class="panel-body">
                <ul class="short-desc section">
                  <li ng-show="vm.customQuotation">Categorías: {{::vm.quotation.category}}</li>
                  <li ng-show="vm.customQuotation">Subcategoría: {{::vm.quotation.sub_category}}</li>
                  <li ng-show="vm.customQuotation">Cantidad: {{::vm.quotation.count}}</li>
                  <li>Inicio el: {{vm.quotation.date_created | date:'dd-MM-yyyy'}}</li>
                  <li>Termina el: {{vm.quotation.date_end | date:'dd-MM-yyyy':'UTC'}}</li>
                  <li ng-show="vm.quotation.remainingDays >= 0">Finaliza en: {{vm.quotation.remainingDays}} d</li>
                  <li ng-show="vm.quotation.remainingDays < 0">Terminada</li>
                  <li>Ofertas recibidas: {{::vm.quotation.offers.length}}</li>
                </ul>
                <h4 ng-show="::vm.quotation.comments">Comentarios:</h4>
                <p><small>{{::vm.quotation.comments}}</small></p>
              </div>
            </div>

            <!-- Details -->
            <div ng-hide="vm.customQuotation" class="panel panel-default panel-reset">
              <div class="panel-body pt-0">
                <div class="row">
                  <div class="col-xs-6">
                    <h4>Producto</h4>
                  </div>
                </div>

                <ul class="short-desc section">
                  <li>Categorías: {{::vm.product.category}}</li>
                  <li>Subcategorías: {{::vm.product.sub_category}}</li>
                  <li ng-show="vm.product.state === 'U'">Tipo de producto: usado</li>
                  <li ng-show="vm.product.state === 'N'">Tipo de producto: nuevo</li>
                  <li>Cantidad: {{::vm.quotation.count}}</li>
                </ul>

                <div class="short-desc mb-1" ng-repeat="(group, features) in vm.attributes">
                  <h4>{{group}}</h4>
                  <div ng-repeat="(feature, attributes) in features">
                    <div class="ml-3" ng-repeat="attribute in attributes">
                      <label>{{feature}}: {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div ng-show="vm.customQuotation" class="panel panel-default panel-reset">
              <div class="panel-body pt-0">
                <div class="short-desc mb-1" ng-repeat="(group, features) in vm.attributes">
                  <h4>{{group}}</h4>
                  <div ng-repeat="(feature, attributes) in features">
                    <div class="ml-3" ng-repeat="attribute in attributes">
                      <label>{{feature}}: {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}</label>
                    </div>
                  </div>
                </div>

                <h6 ng-show="::vm.product.description">Descripción</h6>
                <p>
                  <small>{{::vm.product_description}}</small>
                </p>
              </div>
            </div>

            <div class="quantity-cart section">
              <div ng-if="vm.quotation.is_active" class="row" ng-show="vm.userRole === 'seller' && vm.quotationLoadedByUser === false">
                <div class="col-xs-12">
                  <a ng-show="vm.offerLoadedByUser" ng-click="vm.cancelOffer()" class="btn btn-danger" role="button">Cancelar oferta</a>
                  <a ng-show="vm.offerLoadedByUser" ui-sref="quotationUpdateOffer({quotationId: vm.quotation.id})" class="btn btn-success" role="button">Actualizar oferta</a>
                  <a ng-hide="vm.offerLoadedByUser" ng-click="vm.createOffer()" class="btn btn-success" role="button">Ofertar</a>
                </div>
              </div>
            </div>

            <ul class="usefull-link mt-40">
              <li>
                <a ng-click="vm.print()">
                  <i class="fa fa-print" aria-hidden="true"></i>
                  Imprimir
                </a>
              </li>
              <li>
                <a href="mailto:?body={{vm.currentURL}}">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  Correo
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Nav tabs -->
        <div class="col-xs-12">
          <uib-tabset active="activeJustified" class="pro-info-tab-list big-nav">

            <uib-tab index="0" heading="Ofertas" ng-if="vm.userRole === 'buyer'">

              <h5 ng-show="vm.userRole === 'buyer' && vm.quotation.offers.length === 0" class="text-danger">
                <strong>No tienes ofertas para ver.</strong>
              </h5>

              <div class="panel panel-default mt-5" ng-show="vm.quotation.offers.length">
                <div class="panel-body pb-1">
                  <ul class="list-group offers">
                    <li ng-repeat="offer in vm.quotation.offers" class="list-group-item offer">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="row">
                            <div class="col-xs-12">
                              <span><strong>Vendedor:</strong> {{offer.seller}}</span>
                            </div>
                            <div class="col-xs-12">
                              <span><strong>Precio:</strong> {{offer.price}}</span>
                            </div>
                            <div class="col-xs-12">
                              <span><strong>Descripción:</strong> {{offer.description}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 text-right mt-25">
                          <button ng-click="vm.offerBuy({sellerId: offer.seller_id, offerId: offer.id})" class="btn btn-primary btn-xs">Comprar</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </uib-tab>

            <uib-tab index="1" heading="Comprador" ng-if="vm.userRole === 'seller'">
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul class="list-unstyled panel-tab">
                    <li class="panel-tab-item"><strong>{{vm.quotation.buyer}}</strong></li>
                    <li class="panel-tab-item" ng-show="vm.quotation.buyer_city || vm.quotation.buyer_street">
                      {{vm.quotation.buyer_city}}
                    </li>
                    <li>
                      <span ng-repeat="i in [] | range:vm.quotation.buyer_reputation" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </uib-tab>

            <uib-tab index="2" heading="Preguntas" ng-if="vm.showQa.showQa">
              <qa answer="vm.showQa.answers" item-id="vm.quotation.id" custom="vm.customQuotation"></qa>
            </uib-tab>

            <uib-tab index="3" heading="Descripción" ng-if="vm.customQuotation === false">
              <p style="white-space:pre-wrap;">{{::vm.product.description}}</p>
            </uib-tab>

          </uib-tabset>
        </div>
      </div>
  </div>
</div>

<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Aviso</h3>
  </div>
  <div class="modal-body" id="modal-body">
    {{md.title}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="md.ok()">Aceptar</button>
    <button class="btn btn-warning" type="button" ng-click="md.cancel()">Cancelar</button>
  </div>
</script>
