<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-12 col-sm-6">
        <h2>Activación de cuenta</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="alert alert-success" role="alert" ng-if="vm.status.success">
  <div class="row">
    <div class="col-md-6">
      <p class="mt-3">
        <strong>Aviso:</strong> su cuenta ha sido activada.
      </p>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="login" class="btn btn-primary">Ir al login</a>
    </div>
  </div>
</div>
