<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-12 col-sm-6">
        <h2>Crear usuario</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="alert alert-success" role="alert" ng-if="vm.status.success">
  <div class="row">
    <div class="col-md-9">
      <p class="mt-3">
        <strong>Aviso:</strong> Te mandamos un email a ({{vm.user.email}}) para activar tu cuenta, revisa tu correo por favor.
      </p>
    </div>
    <div class="col-md-3 text-right">
      <a ui-sref="home" class="btn btn-primary">Ir al inicio</a>
    </div>
  </div>
</div>

<div class="mar-form" ng-if="vm.status.success === false">
  <form class="form-horizontal" name="form" ng-submit="vm.signup()" role="form">
    <fieldset>
      <div class="form-group has-feedback" ng-class="{ 'has-error': form.username.$dirty && (form.username.$error.required || form.username.$error.maxlength) }">
        <label class="col-md-4 control-label" for="textinput">Nombre usuario</label>
        <div class="col-md-4">
          <input id="username"
            name="username"
            type="text"
            placeholder="Nombre usuario"
            class="form-control input-md"
            ng-model="vm.user.username"
            ng-maxlength="40"
            required="">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="form.username.$dirty && (form.username.$error.required || form.username.$error.maxlength)"></span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <label class="col-md-4 control-label" for="textinput">Contraseña</label>
        <div class="col-md-4">
          <input id="password"
            name="password"
            type="password"
            placeholder="Contraseña"
            class="form-control input-md"
            ng-model="vm.user.password"
            required="">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="form.password.$dirty && form.password.$error.required"></span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error': form.password2.$dirty && (form.password2.$error.required || form.password2.$error.pwmatch) }">
        <label class="col-md-4 control-label" for="textinput">Repita la contraseña</label>
        <div class="col-md-4">
          <input id="password2"
            name="password2"
            type="password"
            pw-check="password"
            placeholder="Repita la contraseña"
            class="form-control input-md"
            ng-model="vm.user.password2"
            required="">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="form.password2.$dirty && (form.password2.$error.required || form.password2.$error.pwmatch)"></span>
          <span class="help-block" ng-show="form.password2.$dirty && form.password2.$error.pwmatch"><small>Las contraseñas no coinciden</small></span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error': form.email.$dirty && (form.email.$error.required || form.email.$error.email) }">
        <label class="col-md-4 control-label" for="textinput">Email</label>
        <div class="col-md-4">
          <input id="email"
            name="email"
            type="email"
            placeholder="Email"
            class="form-control input-md"
            ng-model="vm.user.email"
            ng-maxlength="80"
            required="">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="form.email.$dirty && (form.email.$error.required || form.email.$error.email)"></span>
          <span class="help-block" ng-show="form.email.$dirty && form.email.$error.email"><small>Formato incorrecto</small></span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.maxlength }">
        <label class="col-md-4 control-label" for="textinput">Nombre</label>
        <div class="col-md-4">
          <input id="name"
            name="name"
            type="text"
            placeholder="Nombre"
            class="form-control input-md"
            ng-model="vm.user.first_name"
            ng-maxlength="80">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="form.name.$dirty && form.name.$error.maxlength"></span>
          <span class="help-block" ng-show="form.name.$dirty && form.name.$error.maxlength"><small>Nombre demasiado largo</small></span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.maxlength }">
        <label class="col-md-4 control-label" for="textinput">Apellido</label>
        <div class="col-md-4">
          <input id="surname"
            name="surname"
            type="text"
            placeholder="Apellido"
            class="form-control input-md"
            ng-model="vm.user.last_name"
            ng-maxlength="80">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="form.surname.$dirty && form.surname.$error.maxlength"></span>
          <span class="help-block" ng-show="form.surname.$dirty && form.surname.$error.maxlength"><small>Apellido demasiado largo</small></span>
        </div>
      </div>
	<div>
		<input type="checkbox" name="terminos" value="terminos">Acepto los <a href="https://jovial-visvesvaraya-27a7e2.netlify.com">términos y condiciones</a></input>
	</div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Registrarse</button>
          <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <a ui-sref="login" class="btn btn-link">Ya poseo una cuenta</a>
        </div>
      </div>

    </fieldset>
  </form>
</div>
