@import 'bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'components-font-awesome/css/font-awesome';

// Utilities
@import 'utilities/spacing';
@import 'utilities/plugins';

@import 'colors';
@import 'header';
@import 'buttons';
@import 'forms';
@import 'pagination';
@import 'slider';
@import 'loading';
@import 'footer';
@import 'table';

$app-top: 80px;

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}
img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
*::before,
*::after,
a,
button,
span,
input,
textarea,
.btn {
  // -webkit-transition: all 0.3s ease 0s;
  // transition: all 0.3s ease 0s;
}
.btn {
  border-radius: 0px;
  font-size: 14px;
  padding: 0px 15px;
  height: 30px;
  line-height: 30px;
}
.btn-mp {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}
a {
  cursor: pointer;
}
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}
a:focus, a:hover, a:hover.btn-link, .btn-link {
  color: $yellow-dark;
  text-decoration: none;
}
a,
button,
input {
  outline: medium none;
  color: #666666;
}
.uppercase {
  text-transform: uppercase
}
.capitalize {
  text-transform: capitalize
}
h1,h2,h3,h4,h5,h6 {
  color: #282828;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $gray10;
  margin-bottom: 15px;
}
input:focus, textarea:focus {
    box-shadow: 0;
    outline: 0;
}
.modal {
  z-index: 999999 !important;
}
/*-- Placeholder Opacity --*/
::-webkit-input-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
:-moz-placeholder {
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
::-moz-placeholder {
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
:-ms-input-placeholder {
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

/*-- Common Classes --*/
.panel-reset {
  border-color: transparent;
  box-shadow: none;
}

.fix {
  overflow:hidden
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.tlt * {
  -webkit-transition: none 0s ease 0s ;
  transition: none 0s ease 0s ;
}

.list-group-item {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: none !important;
  // border-top: 1px solid #ddd !important;
  // border-left: none !important;
  // border-right: none !important;
  // border-bottom: none !important;
}

.product-price-list {
  height: 35px;
  overflow: hidden;

  &.extra {
    height: 54px;
  }
}

.slick-prev:before, .slick-next:before {
  color: $gray12 !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  line-height: 1.3;
}

.ui-select-container {
  height: auto !important;
  input {
    border: none;
    width: 100% !important;
  }
}

.ui-select-choices-group{
  margin-left: 10px;
  cursor: pointer;
}


// ---------------------- OLD -----------------
.navbar {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
}

.spacer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.glyphicon {
  &.glyphicon-star {
    color: $yellow-dark;
    font-size: 1em;
  }

  &.glyphicon-star-empty {
    color: $yellow-dark;
    font-size: 1em;
  }
}

.rating {
  .glyphicon.ng-scope {
    &.glyphicon-star {
      color: $yellow-dark;
      font-size: 3em;
    }

    &.glyphicon-star-empty {
      color: $yellow-dark;
      font-size: 3em;
    }
  }
}

.favorite {
  .glyphicon  {
    &.glyphicon-star {
      font-size: 2em;
    }

    &.glyphicon-star-empty {
      font-size: 2em;
    }
  }
}

.thumbnail {
  img {
    max-height: 270px;
  }
  .thumb-img {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// ---------------------------- OLD END --------------

.panel {
  border-radius: 0;
}

.attr-list {
  font-size: 14px;
  margin-bottom: 10px;
}

/*-- Section --*/
.section {
  float: left;
  width: 100%;
}

.no-border {
  border: medium none !important;
}

/*-- Shop Bar --*/
.shop-bar {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
}

.shop-bar p {
  display: inline-block;
  line-height: 36px;
  margin: 0;
  // text-transform: capitalize;
}

/*-- Shop View Tab List --*/
.shop-tablist {
  float: left;
  width: 160px;
}
.shop-tablist li {
  display: block;
  float: left;
  margin-right: 10px;
  margin-right: 10px;
}
.shop-tablist li a {
  border: 1px solid #ddd;
  display: block;
  height: 36px;
  width: 36px;
}
.shop-tablist li a i {
  display: block;
  font-size: 19px;
  line-height: 36px;
}
.shop-tablist li.active a {
  border-color: #ffae00;
  color: #ffae00;
}

/*-- Single Sidebar --*/
.single-sidebar {
  float: left;
  width: 100%;
}
.sidebar-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
/*-- Search Sidebar --*/
.sidebar-search {
  float: left;
  position: relative;
  width: 100%;
}
.sidebar-search input {
  border: 1px solid #ddd;
  color: #999;
  display: block;
  float: left;
  font-size: 16px;
  height: 40px;
  padding: 7px 12px;
  width: 100%;
}
.sidebar-search .submit {
  background-color: #ffae00;
  border: medium none;
  color: #fff;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
.sidebar-search .submit i {
  display: block;
  font-size: 20px;
  line-height: 40px;
}

/*-- Product Per Page --*/
.item-per-page {
  float: right;
}
.item-per-page select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0) url("../img/select-arrow-down.png") no-repeat scroll right center;
  border: 1px solid #ddd;
  color: #666;
  font-size: 15px;
  height: 36px;
  padding: 0 30px 0 10px;
  width: 160px;
}
.item-per-page select option {
  padding: 5px 12px;
}

/*-- Category Sidebar --*/
.category-sidebar {}
.category-sidebar li {
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 6px 0;
}
.category-sidebar li a {
  display: block;
  font-size: 14px;

  &.selected {
    color: $yellow-light;
  }
}
.category-sidebar li a::before {
  content: "\f105";
  display: block;
  float: left;
  font-family: FontAwesome;
  font-size: 15px;
  margin-right: 10px;
}
.category-sidebar li a:hover {
  padding-left: 10px;
}

// ------------------- Products display

/* -----
      5.1 Grid Product
------------------------------*/
/*-- Product Item --*/
.product-item {}

/*-- Product Image --*/
.product-img {
  margin: auto;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.product-img .image {
  display: block;
  position: relative;
}

.product-img .image::before {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.product-item:hover .product-img .image::before {
  opacity: 0.3;
}
.product-img .image img {
  width: 100%;
}
/*-- Product Add to Cart --*/
.product-img .add-to-cart {
  background-color: #282828;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  left: 50%;
  line-height: 24px;
  margin-left: -90px;
  margin-top: -20px;
  opacity: 0;
  padding: 9px 20px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  width: 180px;
}
.product-img .add-to-cart:hover {
  background-color: #ffae00;
}
.product-item:hover .add-to-cart {
  opacity: 1;
}
/*-- Product Action Button --*/
.product-img .action-btn {
  bottom: -40px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.product-item:hover .action-btn {
  bottom: 0;
}
.product-img .action-btn a {
  background-color: #282828;
  border-left: 1px solid #555;
  color: #fff;
  display: block;
  float: left;
  height: 40px;
  width: 50%;

  &.full {
    width: 100%;
  }
}
.product-img .action-btn a:first-child {
  border-left: 0px solid #555;
}
.product-img .action-btn a i {
  display: block;
  font-size: 22px;
  line-height: 40px;
}
.product-img .action-btn a:hover {
  background-color: #ffae00;
}
/*-- Product Info --*/
.product-info {}
.product-info .title {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
}
.product-info .title a {}
.product-info .price {
  display: block;
  font-size: 14px;
  line-height: 18px;
}
.product-info .price span {
  display: inline-block;
  line-height: 18px;
  margin: 0 5px;
  padding: 0 3px;
}
.product-info .price .new {}
.product-info .price .old {
  color: #999;
  text-decoration: line-through;
}

/* -----
      5.2 List Product
------------------------------*/
/*-- List Product Item --*/
.list-product-item {}

/*-- List Product Image --*/
.list-product-img {
  float: left;
  margin-right: 30px;
  // width: 250px;
  overflow: hidden;
  width: 262px;
  height: 262px;
}
.list-product-img .image {
  display: block;
  position: relative;
}
.list-product-img .image img {
  width: 100%;
}
/*-- List Product Info --*/
.list-product-info {
  padding-top: 20px;
}
.list-product-info .title {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.list-product-info .title a {}
.list-product-info .price {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.list-product-info .price span {
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 0 0;
  padding: 0;
}
.list-product-info .price .new {}
.list-product-info .price .old {
  color: #999;
  text-decoration: line-through;
}
.list-product-info p {
  margin-bottom: 20px;
}
/*-- List Action Button --*/
.list-action-btn {
  width: 100%;
}
.list-action-btn a {
  background-color: #444444;
  color: #fff;
  display: block;
  float: left;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.list-action-btn a i {
  display: block;
  font-size: 22px;
  line-height: 40px;
}
.list-action-btn .add-to-cart {
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  line-height: 24px;
  margin: 0;
  margin-right: 10px;
  padding: 9px 20px;
  text-transform: uppercase;
  width: 180px;
}
.list-action-btn a:hover {
  background-color: #ffae00;
}

/*-- Product Details --*/
.product-details {}
.product-details .title {
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
/*-- Price --*/
.product-details .price {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.product-details .price span {
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 0 0;
  padding: 0;
}
.product-details .price .new {}
.product-details .price .old {
  color: #999;
  text-decoration: line-through;
}
/*-- Availability --*/
.product-details .availability {
  margin-bottom: 15px;
}
.product-details .availability strong {
  display: block;
  float: left;
  font-weight: 500;
  margin-right: 15px;
  text-transform: capitalize;
}
.product-details .availability span {
  display: block;
  font-size: 14px;
  overflow: hidden;
}
.product-details .availability span i {}
.product-details .availability span.in i {
  color: #50B948;
}
.product-details .availability span.out i {
  color: #FF0000;
}
.product-details .short-desc {
  margin-bottom: 15px;

  li, label {
    color: #666;
    font-size: 14px;
    font-weight: 500;
  }

  p {
    color: #666;
    font-size: 15px;
  }
}
/*-- Color --*/
.product-details .color-list {
  margin-bottom: 15px;
}
.product-details .color-list button {
  border: 2px solid #eee;
  border-radius: 50%;
  display: block;
  float: left;
  height: 30px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 0;
  width: 30px;
}
.product-details .color-list button i {
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 26px;
  opacity: 0;
}
.product-details .color-list button.active i {
  opacity: 1;
}
/*-- Usefull Links --*/
.product-details .usefull-link {
  margin-bottom: 15px;
}
.product-details .usefull-link li {
  display: block;
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
}
.product-details .usefull-link li a {
  display: block;
}
.product-details .usefull-link li a i {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 26px;
  margin-right: 5px;
}
/*-- Quantity & cart Button --*/
.product-details .quantity-cart {
  margin-bottom: 15px;
}
.product-details .quantity-cart .add-to-cart {
  background-color: #444444;
  border: medium none;
  color: #fff;
  // display: block;
  font-size: 13px;
  font-weight: 600;
  height: 36px;
  line-height: 24px;
  margin-bottom: 15px;
  padding: 6px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 202px;
}
.product-details .quantity-cart .add-to-cart:hover {
  background-color: #ffae00;
}
/*-- Quantity --*/
.product-quantity {
  border: 1px solid #ddd;
  display: block;
  float: left;
  margin-bottom: 15px;
  margin-right: 30px;
  padding: 0 35px;
  position: relative;
}
.product-quantity input {
  border: medium none;
  height: 36px;
  text-align: center;
  width: 50px;
}
.product-quantity span {
  cursor: pointer;
  display: block;
  height: 36px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 35px;
}
.product-quantity span i {
  display: block;
  font-size: 18px;
  line-height: 36px;
}
.product-quantity span.inc {
  right: 0;
}
.product-quantity span.dec {
  left: 0;
}

/*-- Share Icons --*/
.product-details .share-icons {}

.product-details .share-icons a {
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  text-transform: capitalize;
}
.product-details .share-icons a i {
  display: block;
  float: left;
  line-height: 26px;
  margin-right: 10px;
}
/*-- Info Tab List --*/
.pro-info-tab-list {
  ul {
    border-bottom: 1px solid #ddd;

    li {
      bottom: -1px;
      // display: block;
      float: left;
      margin-right: 30px;
      position: relative;
      z-index: 2;
    }
  }

  li a {
    border-bottom: 2px solid transparent;
    color: $gray18;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: none !important;

    &:hover {
      background: #fff;
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
    }
  }

  // .nav-tabs {
    // border-bottom: none;
  // }

  &.big-nav li a  {
    font-size: 16px;
  }

  li.active a {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 2px solid #000000 !important;
  }

  ul.prices-list, ul.questions, ul.offers, ul.activities, ul.panel-tab {
    border-bottom: none;

    li.price-item {
      float: none;
      margin: 0;
    }

    li.question {
      float: none;
      margin: 0;
    }

    li.offer {
      float: none;
      margin: 0;
    }

    li.activity {
      float: none;
      margin: 0;
    }

    li.panel-tab-item {
      float: none;
      margin: 0;
    }
  }

  // Fix bootstrap classes
  .nav-tabs > li > a {
    border: none;
  }

  .tab-pane {
    margin-top: 30px;
  }
}

/*-- Info Tab Content --*/
.pro-info-tab {
  padding-top: 20px;
}

.pro-info-tab a {
  background-color: #282828;
  border: 0 none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 10px 15px;
  text-shadow: none;
  text-transform: uppercase;
}


@media(min-width:768px){
  .product-img {
    width: 262px;
    height: 262px;
  }
}

@media(max-width:480px){
  .header-logo {
    padding: 34px 0;
  }

  .uib-tab {
    width: 100%;
    text-align: center;
  }

  select {
    width: 100% !important;
  }

  .item-per-page {
    width: 100% !important;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header-section {
    background-color: $white;
    padding: 0 38px;
    position: static;
    height: initial !important;
  }

  .page-banner-content {
    z-index: 9 !important;
  }

  .page-section {
    padding-top: 10px !important;
  }

  .page-banner-section {
    padding: 30px 0 0 !important;
  }
}
