.btn {
  &.btn-primary, &.btn-warning, &.btn-success, &.btn-danger, &.btn-info {
    border-radius: 0;
    background-color: $gray18;
    border: medium none;
    color: #fff;
    //float: left;
    //height: 40px;
    //margin: 0 15px 0 0;
    //padding: 7px 50px;
    text-transform: uppercase;
    width: auto;
    &:hover {
      background-color: $yellow-dark;
    }
  }
}
