$white: #ffffff;
$yellow-dark: #ffae00;
$yellow-light: #ffac00;
$red: #ff0000;
$blue: #1e85be;
$green: #50b948;
$black: #000000;
$gray1: #fdfdfd;
$gray2: #f7f6f7;
$gray3: #f6f6f6;
$gray4: #f1f1f1;
$gray5: #eeeeee;
$gray6: #ebebeb;
$gray7: #dddddd;
$gray8: #d7d7d7;
$gray9: #aaaaaa;
$gray10: #999999;
$gray11: #7d7d7d;
$gray12: #666666;
$gray13: #555555;
$gray14: #515151;
$gray15: #444444;
$gray16: #333333;
$gray17: #303030;
$gray18: #282828;
$gray19: #252525;
