/* -----------------------------------
  Footer Section
--------------------------------------*/

/*-- Footer Top Section --*/
.footer-top-section {
  background-color: #282828;
}

/*-- Footer Widget --*/
.footer-widget {}
.footer-widget.link-widget {
    padding-left: 75px;
}

/*-- Footer Widget Title --*/
.widget-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/*-- Footer Widget Paragraph --*/
.footer-widget p {
  color: #ddd;
  font-size: 14px;
}
.footer-widget p strong {
  float: left;
  width: 80px;
}
.footer-widget p span {
  display: block;
  overflow: hidden;
}
.footer-widget p a {
  color: #ddd;
  display: inline-block;
  overflow: hidden;
}
.footer-widget p a:hover {
  color: #ffae00;
}
/*-- Footer Widget Links --*/
.footer-widget ul {}
.footer-widget ul li {
  margin-bottom: 5px;
}
.footer-widget ul li:last-child {
  margin-bottom: 0;
}
.footer-widget ul li a {
  color: #ddd;
  display: block;
}
.footer-widget ul li a:hover {
  color: #ffae00;
}
/*-- Footer Widget Tags --*/
.footer-widget .tag-cloud {}
.footer-widget .tag-cloud a {
  border: 1px solid #ddd;
  color: #ddd;
  display: block;
  float: left;
  font-size: 13px;
  height: 28px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 1px 8px;
  text-transform: capitalize;
}
.footer-widget .tag-cloud a:hover {
  border: 1px solid #ffae00;
  color: #ffae00;
}
/*-- Subscribe Form --*/
.sunscribe-form {}
.sunscribe-form input[type="email"] {
  border: 1px solid #ddd;
  height: 36px;
  padding: 5px 12px;
  width: 100%;
}
.sunscribe-form input[type="submit"] {
  background-color: #ffae00;
  border: medium none;
  color: #ffffff;
  display: block;
  height: 36px;
  margin-top: 15px;
  padding: 6px 30px;
  text-transform: capitalize;
}

/*-- Footer Social --*/
.footer-social {}
.footer-social a {
  color: #ddd;
  display: inline-block;
  margin-right: 15px;
}
.footer-social a:hover {
  color: #ffae00;
}
.footer-social a i {
  display: block;
  font-size: 16px;
  line-height: 17px;
}

/*-- Footer Bottom Section --*/
.footer-bottom-section {
  background-color: #282828;
  border-top: 1px solid #333;
}
.footer-bottom-section .copyright {}
.footer-bottom-section .copyright p {
  color: #ddd;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-bottom-section .copyright p a {
  color: #ddd;
}
.footer-bottom-section .copyright p a:hover {
  color: #ffae00;
}
.footer-bottom-section .payment-method {}
.footer-bottom-section .payment-method img {}