/* -----------------------------------
  Login & Register Page
--------------------------------------*/
.mar-form {
  border: 1px solid #ddd;
  padding: 40px;

  &.no-border {
    border: none;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .input-group-btn > .btn {
    height: 40px;
  }

  .form-control:focus {
    border-color: #ddd;
    box-shadow: none;
  }
}

.mar-form form label {
  // display: block;
  color: $gray10;
  font-weight: 400;
  // line-height: 18px;
  margin-bottom: 10px;
  overflow: hidden;

}

.mar-form form label.inline {
  margin: 10px 0 0;
}

.mar-form form label .required {
  color: $red;
}

.mar-form form input[type="text"], .mar-form form input[type="email"], .mar-form form input[type="password"] {
  border: 1px solid #ddd;
  display: block;
  height: 40px;
  padding: 7px 15px;
  width: 100%;
}

.mar-form form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0) url("../img/select-arrow-down.png") no-repeat scroll right 5px center;
  border: 1px solid #ddd;
  height: 40px;
  padding: 7px 15px;
  text-transform: capitalize;
  width: 100%;
  border-radius: 0;
}

.mar-form form select option {
  padding: 5px 15px;
}

.mar-form form input[type="checkbox"] {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.mar-form form input[type="submit"] {
  background-color: $gray18;
  border: medium none;
  color: $white;
  float: left;
  height: 40px;
  margin: 0 15px 0 0;
  padding: 7px 50px;
  text-transform: uppercase;
  width: auto;
}

.mar-form form button[type="submit"] {
  background-color: $gray18;
  border: medium none;
  color: $white;
  float: left;
  height: 40px;
  margin: 0 15px 0 0;
  padding: 7px 50px;
  text-transform: uppercase;
  width: auto;
}

.mar-form form input[type="submit"]:hover {
  background-color: $yellow-dark;
}

.mar-form form a {
  color: $yellow-dark;
}

.mar-form form input[type="submit"] {
  border-radius: 0;
}

.mar-form form input[type="text"], .mar-form form input[type="email"], .mar-form form input[type="password"] {
  border-radius: 0;
}
