/* -----------------------------------
  02. Header Section
--------------------------------------*/
.home-slider-section {
  position: relative;
}

.header-section {
  float: left;
  position: relative;
  width: 100%;
  z-index: 99999;

  &.bg {
    height: 240px;
    background: #f1f1f1;
  }
}

.header-transparent {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 60px;
}

.header-section.stick {
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  position: fixed;
  height: 100px;
}

/*-- Header Logo --*/
.header-logo {
  padding: 20px 0;
}

.header-logo a {
  display: inline-block;
}

.header-logo a img {}

/*-- Main Menu --*/
.main-menu {}
.main-menu.menu-right {}
.main-menu > ul {
  display: inline-block;
  vertical-align: top;
}
.main-menu > ul > li {
  display: block;
  float: left;
  margin: 0 15px;
}
.main-menu > ul > li > a {
  color: #303030;
  display: block;
  font-weight: 500;
  line-height: 20px;
  padding: 40px 0;
  text-transform: uppercase;
}
.main-menu > ul > li:hover > a, .main-menu > ul > li.active > a {
  color: #ffae00;
}

.alt-menu > ul > li > a {
  color: #303030;
  display: block;
  font-weight: 500;
  line-height: 20px;
  padding: 40px 0;
  text-transform: uppercase;
}

/*-- Sub Menu --*/
.sub-menu {
  padding: 10px 20px;
  width: 220px;
}
.main-menu > ul > li > ul {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  z-index: -999;
}
.main-menu > ul > li:hover > ul {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.sub-menu li {
  margin: 3px 0;
}
.sub-menu li a {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}
.sub-menu li:hover a {
  color: #ffae00;
  padding-left: 5px;
}
.sub-menu li.active a {
  color: #ffae00;
}
/*-- Mega Menu --*/
.mega-menu {
  left: 15px;
  margin-top: 30px;
  padding: 20px 30px;
  right: 15px;
  text-align: left;
}
.mega-menu > li {
  display: block;
  float: left;
  width: 33.3333%;
}
.mega-menu > li > a {
  color: #282828;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.mega-menu > li > a:hover {
  color: #ffae00;
  padding-left: 5px;
}
.mega-menu > li ul {}
.mega-menu > li ul li {
  margin: 3px 0;
}
.mega-menu > li ul li a {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}
.mega-menu > li ul li:hover a {
  color: #ffae00;
  padding-left: 5px;
}

/*-- Mobile Menu --*/
.mean-bar {
  background-color: transparent;
  min-height: auto;
  padding: 0;
  z-index: 9;
}
/*-- Menu Open/Close Button --*/
a.meanmenu-reveal {
  font-size: 30px;
  height: auto;
  line-height: 1;
  padding: 0;
  top: -74px;
  right: -40px !important;
  width: auto;
}
a.meanmenu-reveal i {
  display: block;
  font-size: 30px;
  line-height: 30px;
  width: 30px;
}
/*-- Mobile Menu Nav --*/
.mean-nav {
  background-color: #ffffff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.mean-nav a.mean-expand {
  border: medium none;
  font-size: 18px !important;
  height: 36px;
  line-height: 36px;
  padding: 0 !important;
  text-align: center;
  width: 36px;
}
.mean-nav a.mean-clicked {
  font-size: 22px !important;
}
.mean-nav > ul {
  float: left;
  padding: 15px 0;
}
.mean-nav > ul > li {}
.mean-nav > ul > li > a {
  border-color: transparent;
  padding: 6px 25px;
}
.mean-nav > ul > li > a:hover {
  color: #ffae00;
}

/*-- Mobile Sub & Mega menu --*/
.mean-nav .sub-menu, .mean-nav .mega-menu {
  box-shadow: none;
  float: left;
  opacity: 1;
  position: static;
  -webkit-transition: none 0s ease 0s ;
  transition: none 0s ease 0s ;
  visibility: visible;
  z-index: 1;
}
.mean-nav ul li li {
  margin: 0;
  padding: 0 25px;
}
.mean-nav ul li li a, .mean-nav ul li li li a, .mean-nav ul li li li li a {
  border: medium none;
  color: #666;
  font-size: 12px;
  font-weight: 400;
  opacity: 1;
  padding: 3px 15px;
  text-transform: uppercase;
}
.mean-nav ul li li:hover a {
  padding: 3px 15px;
}

/*-- Header Options --*/
.header-option-btns {}

/*-- Header Search --*/
.header-search {
  padding: 35px 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-search .search-toggle {
  background-color: transparent;
  border: medium none;
  color: #303030;
  display: block;
  height: 30px;
  padding: 0;
}

.header-search .search-toggle i {
  display: block;
  font-size: 24px;
  line-height: 30px;
}

/*-- Search Modal --*/
.search-modal {
  background-color: #fff;
  z-index: 999999;
  cursor: url(close.png), auto;
}

.header-search-form {
  left: 50%;
  max-width: 1170px;
  padding: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}

.header-search-form form {
    position: relative;
}

.header-search-form form input {
  border: medium none;
  color: #999;
  font-size: 60px;
  padding: 0;
  width: 100%;
}

.header-search-form form button {
  background-color: transparent;
  border: medium none;
  color: #999;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}

.header-search-form form button i {
  display: block;
  font-size: 36px;
  line-height: 60px;
}

.header-search-form form button:hover {
  color: #ffae00;
}

/*-- Header Account --*/
.header-account {}
.header-account > ul {}
.header-account > ul > li {
  padding: 35px 0;
  position: relative;
}
.header-account > ul > li > a {
  display: block;
  line-height: 30px;
  padding: 0 10px;
}
.header-account > ul > li > a i {
  display: block;
  font-size: 24px;
  line-height: 30px;
}
.header-account > ul > li.open > a {
  color: #ffae00;
}
/*-- Account Dropdown --*/
.header-account > ul > li ul {
  border: medium none;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  display: block;
  left: auto;
  margin-top: 30px;
  opacity: 0;
  padding: 15px 0;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  z-index: -99999;
}
.header-account > ul > li.open ul {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.header-account > ul > li ul li {}
.header-account > ul > li ul li a {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 2px 20px;
}
.header-account > ul > li ul li a:hover {
  background-color: transparent;
  color: #ffae00;
  padding-left: 25px;
}

/*-- Header Cart --*/
.header-cart {
  padding: 35px 0;
  position: relative;
}
.header-cart .cart-toggle {
  display: block;
  padding: 0 10px;
  position: relative;
}
.header-cart .cart-toggle i {
  display: block;
  font-size: 24px;
  line-height: 30px;
}
.header-cart .cart-toggle span {
  background-color: #ffae00;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  height: 17px;
  line-height: 16px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 17px;
}

/*-- Mini Cart Brife --*/
.mini-cart-brief {
  border: medium none;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  display: block;
  left: auto;
  margin-top: 30px;
  opacity: 0;
  padding: 20px;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 320px;
  z-index: -99999;
}
.open .mini-cart-brief  {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

/*-- Mini Cart Items --*/
.mini-cart-brief .cart-items {
  border-bottom: 1px solid #eee;
  margin: 0 -20px 20px;
  padding: 0 20px 15px;
}
.mini-cart-brief .cart-items p {
  margin: 0;
  font-size: 14px;
}
.mini-cart-brief .cart-items p span {
  color: #ffac00;
}
/*-- Cart Products --*/
.all-cart-product {}
.single-cart {
  margin-bottom: 15px;
}
.single-cart .cart-image {
  display: block;
  float: left;
  margin-right: 15px;
  width: 75px;
}
.single-cart .cart-image a {
  display: block;
}
.single-cart .cart-image a img {
  width: 100%;
}
.single-cart .cart-info {
  overflow: hidden;
  padding-right: 15px;
  position: relative;
}
.single-cart .cart-info h5 {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.single-cart .cart-info h5 a {}
.single-cart .cart-info p {
  margin: 0;
  font-size: 14px;
}
.single-cart .cart-info .cart-delete {
  line-height: 18px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.single-cart .cart-info .cart-delete i {
  display: block;
  font-size: 16px;
}
/*-- Cart Total --*/
.cart-totals {
  padding: 10px 20px;
  margin: 0 -20px;
  margin-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.cart-totals h5 {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.cart-totals h5 span {
  display: block;
  float: right;
}
/*-- Cart Button --*/
.cart-bottom {
    text-align: center;
}
.cart-bottom a {
  background-color: #282828;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 24px;
  padding: 8px 15px;
  text-transform: uppercase;
  width: 100%;
}
.cart-bottom a:hover {
  background-color: #ffae00;
}

/*-- Page Banner Section --*/
.page-banner-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 0 65px;
}
.page-banner-content {
  z-index: 99999;
}
.page-banner-content h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/*-- Page Breadcrumb --*/
.page-banner-content .breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.page-banner-content .breadcrumb li {
  color: #666;
  text-transform: uppercase;
}
.page-banner-content .breadcrumb > li + li::before {
  color: #666;
}
.page-banner-content .breadcrumb li a {}
.page-banner-content .breadcrumb li:hover a {
  color: #ffae00;
}
.page-banner-content .breadcrumb li.active {
  color: #ffae00;
}
