@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  $fadeIn: 'fade-in';
  @include animation($fadeIn 1s);

  .bars {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }
}

.loading__overlay {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scroll: touch;
}

// .loading {
//   height: 100%;
//   overflow: auto;
//   -webkit-overflow-scroll: touch;
//   $fadeIn: 'fade-in';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 9999;
//   @include animation($fadeIn 1s);
// }

// .loading__overlay {
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
//   height: calc(100% + 60px);
//   width: 100%;
//   background: white;
//   z-index: 999;
// }

.loading--bar {
  $fadeIn: 'fade-in';
  $loading: 'loading';
  display: inline-block;
  width: 4px;
  height: 30px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: $yellow-dark;
  z-index: 9999999;
  @include animation($loading 1s ease-in-out infinite);

  &:nth-child(1) {
    animation-delay: 0;
  }

  &:nth-child(2) {
    animation-delay: 0.09s;
  }

  &:nth-child(3) {
    animation-delay: .18s;
  }

  &:nth-child(4) {
    animation-delay: .27s;
  }

  @include keyframes($fadeIn) {
    from {
      opacity:0;
    }

    to {
      opacity:1;
    }
  }

  @include keyframes($loading) {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 1.5);
    }
    40% {
      transform: scale(1);
    }
  }
}
