/*-- Page Pagination --*/
.pagination > .active > a {
  z-index: 0;
  border-color: #ffae00;
}

.page-pagination {

}

.page-pagination ul {
  display: inline-block;
}

.page-pagination ul li {
  display: block;
  float: left;
  margin: 0 3px;
}

.page-pagination ul li a {
  color: $gray12;
  background-color: #f6f6f6;
  display: block;
  height: 36px;
  line-height: 24px;
  width: 36px;
}

.page-pagination ul li a i {
  display: block;
  font-size: 20px;
  line-height: 36px;
}

.page-pagination ul li.active a {
  background-color: #ffae00;
  color: #fff;
}
