.img-holder {
  max-width: 360px;
  max-height: 360px;
  overflow: hidden;
}

// /*-- Product Large Image Tab --*/
.pro-large-img {
  img {
    width: 100%;
  }
}
/*-- Product Thumbnail Image Slider --*/
.pro-thumb-img-slider {
  margin: 0 -5px;
  .slick-track {
    img {
      margin-top: 10px;
      outline: none !important;
    }
  }
}

.pro-thumb-img-slider .slick-slide {
  padding: 0 5px;
}

.pro-thumb-img-slider a {
  display: block;
}

.pro-thumb-img-slider a img {
  width: 100%;
}

// /*-- Product Thumbnail Image Slider Arrow --*/
.pro-thumb-img-slider .slick-arrow {
  background-color: transparent;
  border: 2px solid #aaa;
  color: #aaa;
  height: 30px;
  margin-top: -15px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  z-index: 9;
}
.pro-thumb-img-slider .slick-arrow i {
  display: block;
  line-height: 26px;
}
.pro-thumb-img-slider .arrow-prev {
  left: -10px;
}
.pro-thumb-img-slider .arrow-next {
  right: -10px;
}
.pro-thumb-img-slider:hover .slick-arrow {
  opacity: 1;
}
.pro-thumb-img-slider .slick-arrow:hover {
  border-color: #ffae00;
  color: #ffae00;
}
