.wishlist-table {}
.wishlist-table table {
  border-color: #ddd;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin: 0;
  text-align: center;
  width: 100%;
}
/*-- Cart Table Head --*/
.wishlist-table table thead {}
.wishlist-table table thead tr {}
.wishlist-table table thead tr th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: medium none;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/*-- Cart Table Body --*/
.wishlist-table table tbody {}
.wishlist-table table tbody tr {}
.wishlist-table table tbody tr td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  vertical-align: middle;
}
/*-- Cart Table Thumbnail --*/
.wishlist-table table tbody tr td.pro-thumbnail {
  width: 130px;
}
.wishlist-table table tbody tr td.pro-thumbnail a {
  display: block;
  min-width: 100px;
}
.wishlist-table table tbody tr td.pro-thumbnail a img {
  width: 100%;
}
/*-- Cart Table Title --*/
.wishlist-table table tbody tr td.pro-title {
  width: 270px;
}
.wishlist-table table tbody tr td.pro-title a {
  display: block;
  min-width: 220px;
}
/*-- Cart Table Price --*/
.wishlist-table table tbody tr td.pro-price {
  width: 130px;
}
.wishlist-table table tbody tr td.pro-price .amount {}
/*-- Cart Table Quantity --*/
.wishlist-table table tbody tr td.pro-stock-stauts {
  width: 180px;
}
.wishlist-table table tbody tr td.pro-stock-stauts span {
  text-transform: capitalize;
}
.wishlist-table table tbody tr td.pro-stock-stauts span.in-stock {
  color: #ffae00;
}
.wishlist-table table tbody tr td.pro-stock-stauts span.out-stock {
  color: #ff0000;
}
/*-- Cart Table Add to Cart --*/
.wishlist-table table tbody tr td.pro-add-to-cart {
  width: 220px;
}
.wishlist-table table tbody tr td.pro-add-to-cart a {
  background-color: #282828;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  line-height: 24px;
  min-width: 180px;
  padding: 8px 25px;
  text-transform: uppercase;
}
.wishlist-table table tbody tr td.pro-add-to-cart a:hover {
  background-color: #ffae00;
}
/*-- Cart Table Remove --*/
.wishlist-table table tbody tr td.pro-remove {
  width: 40px;
}
.wishlist-table table tbody tr td.pro-remove a {
  font-size: 25px;
}