<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Perfil</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="alert alert-success" role="alert" ng-if="vm.status.success">
  <strong>Aviso:</strong> datos guardados con exito.
</div>

<uib-tabset active="vm.active" justified="true" class="pro-info-tab-list">
  <uib-tab index="0" heading="Datos personales">

    <hr class="invisible">

    <script type="text/ng-template" id="error-messages">
      <span class="help-block" ng-message="required"><small>Este campo es requerido</small></span>
      <span class="help-block" ng-message="maxlength"><small>Valor ingresado muy largo</small></span>
      <span class="help-block" ng-message="pattern"><small>Solo valores numericos</small></span>
    </script>

    <div class="mar-form">
      <form class="form-horizontal" name="form" ng-submit="vm.update()" role="form">
        <fieldset>

          <!--<div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Foto</label>
            <div class="col-md-4">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div>-->

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Nombre</label>
            <div class="col-md-4">
              <input id="name"
                name="name"
                type="text"
                placeholder="Nombre"
                class="form-control input-md"
                ng-model="::vm.user.first_name"
                ng-maxlength="40"/>

              <span ng-messages="form.name.$error" ng-if="form.name.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Apellido</label>
            <div class="col-md-4">
              <input id="last_name"
                name="last_name"
                type="text"
                placeholder="Apellido"
                class="form-control input-md"
                ng-model="::vm.user.last_name"
                ng-maxlength="40"/>

              <span ng-messages="form.last_name.$error" ng-if="form.last_name.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="gender">Sexo</label>
            <div class="col-md-4">
              <select id="gender" name="gender" class="form-control" ng-model="::vm.user.gender">
                <option value="M">Hombre</option>
                  <option value="F">Mujer</option>
                  <option value="">Otro</option>
                </select>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Fecha de nacimiento</label>
            <div class="col-md-4">
              <p class="input-group">
                <input type="text"
                  class="form-control"
                  placeholder="Fecha de nacimiento"
                  uib-datepicker-popup="{{vm.calendar.format}}"
                  ng-model="::vm.user.birthdate"
                  is-open="vm.calendar.opened"
                  show-button-bar="false"
                  datepicker-options="vm.calendar.dateOptions"
                  close-text="Cerrar" />

                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.calendar.open()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">DNI</label>
            <div class="col-md-4">
              <input id="document"
                name="document"
                type="text"
                placeholder="DNI"
                class="form-control input-md"
                ng-model="::vm.user.document"
                ng-pattern="/^\d+$/"
                ng-maxlength="8"/>

              <span ng-messages="form.document.$error" ng-if="form.document.$dirty" class="has-error" role="alert" ng-messages-multiple>
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Email</label>
            <div class="col-md-4">
              <input id="emai"
                name="emai"
                type="text"
                placeholder="Email"
                class="form-control input-md"
                ng-model="::vm.user.email"
                ng-maxlength="100"/>

              <span ng-messages="form.email.$error" ng-if="form.email.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Celular</label>
            <div class="col-md-4">
              <input id="phone"
                name="phone"
                type="text"
                placeholder="Celular"
                class="form-control input-md"
                ng-model="::vm.user.phone"
                ng-pattern="/^\d+$/"
                ng-maxlength="12"/>

              <span ng-messages="form.phone.$error" ng-if="form.phone.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
              <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Guardar</button>
              <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
              <a ui-sref="home" class="btn btn-link">Cancelar</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </uib-tab>

  <uib-tab index="1" heading="Datos de entrega">
    <hr class="invisible">

    <script type="text/ng-template" id="error-messages">
      <span class="help-block" ng-message="required"><small>Este campo es requerido</small></span>
      <span class="help-block" ng-message="maxlength"><small>Valor ingresado muy largo</small></span>
      <span class="help-block" ng-message="pattern"><small>Solo valores numericos</small></span>
    </script>

    <div class="mar-form">
      <form class="form-horizontal" name="form3" ng-submit="vm.update()" role="form3">
        <fieldset>
          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Ciudad</label>
            <div class="col-md-4">
              <input id="city"
                name="city"
                type="text"
                placeholder="Ciudad"
                class="form-control input-md"
                ng-model="::vm.user.city"
                uib-typeahead="province for province in vm.provinces | filter:$viewValue"
                required />

              <span ng-messages="form3.city.$error" ng-if="form3.city.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Código postal</label>
            <div class="col-md-4">
              <input id="postalCode"
                name="postalCode"
                type="text"
                placeholder="Código postal"
                class="form-control input-md"
                ng-model="vm.user.area_code"
                ng-pattern="/^\d+$/"
                ng-maxlength="4"
                required />

              <span ng-messages="form3.postalCode.$error" ng-if="form3.postalCode.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Calle</label>
            <div class="col-md-4">
              <input id="street"
                name="street"
                type="text"
                placeholder="Calle"
                class="form-control input-md"
                ng-model="::vm.user.street"
                ng-maxlength="40"
                required/>

              <span ng-messages="form3.street.$error" ng-if="form3.street.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>


          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Altura</label>
            <div class="col-md-4">
              <input id="street_number"
                name="street_number"
                type="text"
                placeholder="Altura"
                class="form-control input-md"
                ng-model="::vm.user.street_number"
                ng-pattern="/^\d+$/"
                ng-maxlength="5"
                required />

              <span ng-messages="form3.street_number.$error" ng-if="form3.street_number.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Piso</label>
            <div class="col-md-4">
              <input id="unit"
                name="unit"
                type="text"
                placeholder="Piso"
                class="form-control input-md"
                ng-model="::vm.user.unit"
                ng-pattern="/^\d+$/"
                ng-maxlength="40"/>

              <span ng-messages="form3.unit.$error" ng-if="form3.unit.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Departamento</label>
            <div class="col-md-4">
              <input id="floor"
                name="floor"
                type="text"
                placeholder="Departamento"
                class="form-control input-md"
                ng-model="::vm.user.floor"
                ng-pattern="/^\d+$/"
                ng-maxlength="2"/>

              <span ng-messages="form3.floor.$error" ng-if="form3.floor.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
              <button type="submit" ng-disabled="form3.$invalid || vm.dataLoading" class="btn btn-primary">Guardar</button>
              <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
              <a ui-sref="home" class="btn btn-link">Cancelar</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </uib-tab>

  <uib-tab index="2" heading="Datos de facturación">
    <hr class="invisible">

    <script type="text/ng-template" id="error-messages">
      <span class="help-block" ng-message="required"><small>Este campo es requerido</small></span>
      <span class="help-block" ng-message="maxlength"><small>Valor ingresado muy largo</small></span>
      <span class="help-block" ng-message="pattern"><small>Solo valores numericos</small></span>
    </script>

    <div class="mar-form">
      <form class="form-horizontal" name="form4" ng-submit="vm.update()" role="form4">
        <fieldset>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Tipo de contribuyente</label>
            <div class="col-md-4">
              <select id="type-facturation" name="type-facturation" class="form-control" ng-model="vm.user.tax_type_facturation" required>
                <option value="I">Responsable Inscripto</option>
                <option value="M">Monotributista</option>
                <option value="E">Exento</option>
                <option value="F">Consumidor Final</option>
              </select>

              <span ng-messages="form4.type-facturation.$error" ng-if="form4.type-facturation.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback" ng-if="vm.user.tax_type_facturation !== 'F'">
            <label class="col-md-4 control-label" for="textinput">Razón social</label>
            <div class="col-md-4">
              <input id="social"
                name="social"
                type="text"
                placeholder="Razón social"
                class="form-control input-md"
                ng-model="vm.user.business_name_facturation"
                ng-maxlength="40"
                required/>

              <span ng-messages="form4.social.$error" ng-if="form4.social.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback" ng-if="vm.user.tax_type_facturation !== 'F'">
            <label class="col-md-4 control-label" for="textinput">CUIT</label>
            <div class="col-md-4">
              <input id="cuit_billing"
                name="cuit_billing"
                type="text"
                placeholder="CUIT"
                class="form-control input-md"
                ng-model="::vm.user.cuit_facturation"
                ng-pattern="/^\d+$/"
                ng-maxlength="40"
                required/>

              <span ng-messages="form4.cuit.$error" ng-if="form4.cuit.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Ciudad</label>
            <div class="col-md-4">
              <input id="city_billing"
                name="city_billing"
                type="text"
                placeholder="Ciudad"
                class="form-control input-md"
                ng-model="::vm.user.city_facturation"
                uib-typeahead="province for province in vm.provinces | filter:$viewValue"
                required/>

              <span ng-messages="form4.city_billing.$error" ng-if="form4.city_billing.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Calle</label>
            <div class="col-md-4">
              <input id="street_billing"
                name="street_billing"
                type="text"
                placeholder="Calle"
                class="form-control input-md"
                ng-model="::vm.user.street_facturation"
                ng-maxlength="40"
                required/>

              <span ng-messages="form4.street_billing.$error" ng-if="form4.street_billing.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Altura</label>
            <div class="col-md-4">
              <input id="street_number_billing"
                name="street_number_billing"
                type="text"
                placeholder="Altura"
                class="form-control input-md"
                ng-model="::vm.user.street_number_facturation"
                ng-pattern="/^\d+$/"
                ng-maxlength="5"
                required/>

              <span ng-messages="form4.street_number_billing.$error" ng-if="form4.street_number_billing.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Piso</label>
            <div class="col-md-4">
              <input id="unit_billing"
                name="unit_billing"
                type="text"
                placeholder="Piso"
                class="form-control input-md"
                ng-model="::vm.user.unit_facturation"
                ng-pattern="/^\d+$/"
                ng-maxlength="40"/>

              <span ng-messages="form4.unit_billing.$error" ng-if="form4.unit_billing.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Departamento</label>
            <div class="col-md-4">
              <input id="floor_billing"
                name="floor_billing"
                type="text"
                placeholder="Departamento"
                class="form-control input-md"
                ng-model="::vm.user.floor_facturation"
                ng-pattern="/^\d+$/"
                ng-maxlength="2"/>

              <span ng-messages="form4.floor_billing.$error" ng-if="form4.floor_billing.$dirty" class="has-error" role="alert">
                <div ng-messages-include="error-messages"></div>
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-md-4 control-label" for="textinput">Mercado Pago</label>
            <div class="col-md-4">
              <div class="form-control" style="border: none;box-shadow: none;">
                {{vm.user.mp === 'N' ? 'Su cuenta esta desactivada' : 'su cuenta esta activada'}}
                <button class="btn btn-mp" ng-click="vm.enableMP()">
                  {{vm.user.mp === 'N' ? 'Activar' : 'Deshabilitar'}}
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
              <button type="submit" ng-disabled="form4.$invalid || vm.dataLoading" class="btn btn-primary">Guardar</button>
              <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
              <a ui-sref="home" class="btn btn-link">Cancelar</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </uib-tab>

  <uib-tab index="3" heading="Preferencias">
    <hr class="invisible">
    <div class="mar-form">
      <form class="form-horizontal" name="form2" ng-submit="vm.updatePreferences()" role="form">
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Preferencias</label>
          <div class="col-md-4">
            <ui-select multiple ng-model="vm.preferences" theme="bootstrap"  close-on-select="false" title="Preferencias">
              <ui-select-match placeholder="Preferencias">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="item in vm.categories | filter:$select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <button type="submit" ng-disabled="form2.$invalid || vm.dataLoading" class="btn btn-primary">Guardar</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <a ui-sref="home" class="btn btn-link">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </uib-tab>

  <uib-tab index="4" heading="Actividad">
    <hr class="invisible">

    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="activities attr-list">
          <li class="activity">Fecha de alta: {{::vm.user.date_joined}}</li>
          <li class="activity">Ultimo Login: {{::vm.activity.lastLogin}}</li>
          <li class="activity">Ultima Compra: {{::vm.activity.lastPurchase}}</li>
          <li class="activity">Cantidad de compras: {{::vm.activity.purchasesCount}}</li>
          <li class="activity">Cantidad de ventas: {{::vm.activity.salesCount}}</li>
          <!--<li>Cantidad de preguntas: {{::vm.product.category}}</li>-->
        </ul>
      </div>
    </div>

  </uib-tab>

  <uib-tab index="5" heading="Reputación">

    <hr class="invisible">

    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Reputación como comprador</h3>
        <div class="mt-5 text-center rating">
          <span ng-repeat="i in [] | range:vm.rating.buyer_reputation" class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div ng-show="vm.rating.buyer_reputation">
          <h4>Comentarios</h4>
          <div ng-repeat="comment in vm.rating.buyer_comments" class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <h2>{{comment.user}}</h2>
                </div>
                <div class="col-md-6 text-right">
                  {{comment.date}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{comment.comment}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="vm.rating.buyer_reputation">
          <h5 class="text-danger">No tienes calificaciones para ver.</h5>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Reputación como vendedor</h3>
        <div class="mt-5 text-center rating">
          <span ng-repeat="i in [] | range:vm.rating.seller_reputation" class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <div ng-show="vm.rating.seller_reputation">
          <h4>Comentarios</h4>
          <div ng-repeat="comment in vm.rating.seller_comments" class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <h2>{{comment.user}}</h2>
                </div>
                <div class="col-md-6 text-right">
                  {{comment.date}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{comment.comment}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="vm.rating.seller_reputation">
          <h5 class="text-danger">No tienes calificaciones para ver.</h5>
        </div>
      </div>
    </div>
  </uib-tab>
</uib-tabset>