<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Nuevo producto</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="alert alert-success" role="alert" ng-if="vm.status.success">
  <div class="row">
    <div class="col-md-10">
      <p class="mt-3">
        <strong>Aviso:</strong> Su producto ha sido cargado exitosamente, sera revisado por el equipo de Mercadoalreves y aprobado a la brevedad.
      </p>
    </div>
    <div class="col-md-2 text-right">
      <a ui-sref="home" class="btn btn-primary">Ir al inicio</a>
    </div>
  </div>
</div>

<div class="mar-form" ng-hide="vm.status.success">
  <form class="form-horizontal" name="form" ng-submit="vm.save()" role="form">
    <fieldset>
      <script type="text/ng-template" id="error-messages">
        <span class="help-block" ng-message="required"><small>Este campo es requerido</small></span>
        <span class="help-block" ng-message="maxlength"><small>Valor ingresado muy largo</small></span>
        <span class="help-block" ng-message="pattern"><small>Sólo valores numericos o mayores a cero</small></span>
      </script>

      <!-- Step 1 -->
      <div ng-show="vm.step === 0">
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Nombre del producto</label>
          <div class="col-md-4">
            <input id="name"
              name="name"
              type="text"
              placeholder="Nombre"
              class="form-control input-md"
              ng-model="::vm.product.name"
              ng-maxlength="40"/>

            <span ng-messages="form.name.$error" ng-if="form.name.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="category">Categoría</label>
          <div class="col-md-4">
            <select id="category" name="category" class="form-control"
              ng-options="category as category.name for category in vm.categories track by category.id"
              ng-model="::vm.product.category"
              ng-change="vm.updateSubCategory()"
              required>
              <option value="">Categoría</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="category">Sub categoría</label>
          <div class="col-md-4">
            <select id="subCategory" name="subCategory" class="form-control"
              ng-options="subCategory as subCategory.name for subCategory in vm.subCategories track by subCategory.id"
              ng-model="::vm.product.subCategory"
              required>
              <option value="">Sub categoría</option>
            </select>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Cantidad</label>
          <div class="col-md-4">
            <input id="stock"
              name="stock"
              type="text"
              placeholder="Cantidad"
              class="form-control input-md"
              ng-model="::vm.product.stock"
              ng-pattern="/^[1-9][0-9]*$/"
              ng-maxlength="40"
              required/>

            <span ng-messages="form.stock.$error" ng-if="form.stock.$dirty" class="has-error" role="alert" ng-messages-multiple>
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Precio</label>
          <div class="col-md-4">
            <input id="price"
              name="price"
              type="text"
              placeholder="Precio"
              class="form-control input-md"
              ng-model="::vm.product.price"
              ng-pattern="/^(0*[1-9][0-9]*([\.][0-9]+)?|0+[\.][0-9]*[1-9][0-9]*)$/"
              ng-maxlength="40"
              required/>

            <span ng-messages="form.price.$error" ng-if="form.price.$dirty" class="has-error" role="alert" ng-messages-multiple>
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Tipo producto</label>
          <div class="col-md-4">
            <label class="checkbox-inline">
              <input type="radio" name="product-type" value="N" ng-model="::vm.product.type" /> Nuevo
            </label>
            <label class="checkbox-inline">
              <input type="radio" name="product-type" value="O" ng-model="::vm.product.type" /> Usado
            </label>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="filebutton1">Imagen 1</label>
          <div class="col-md-4">
            <input id="filebutton1" name="filebutton1" class="input-file" type="file" fileread="vm.product.image_1">
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="filebutton2">Imagen 2</label>
          <div class="col-md-4">
            <input id="filebutton2" name="filebutton2" class="input-file" type="file" fileread="vm.product.image_2">
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="filebutton3">Imagen 3</label>
          <div class="col-md-4">
            <input id="filebutton3" name="filebutton3" class="input-file" type="file" fileread="vm.product.image_3">
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="filebutton4">Imagen 4</label>
          <div class="col-md-4">
            <input id="filebutton4" name="filebutton4" class="input-file" type="file" fileread="vm.product.image_4">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <button type="button" ng-disabled="form.$invalid || vm.validate()" class="btn btn-primary" ng-click="vm.next()">Siguiente</button>
          </div>
        </div>
      </div>

      <!-- Step 2 -->
      <div ng-show="vm.step === 1">

        <div ng-repeat="(group, features) in vm.attributes">
          <h4>{{group}}:</h4>

          <div ng-repeat="(feature, attributes) in features">
            <h5 class="ml-3">{{feature}}</h5>
            <div class="form-group has-feedback" ng-repeat="attribute in attributes">
              <label class="ml-5 col-md-4">
                <input type="radio" value="{{attribute.id}}" name="{{attribute.feature}}" ng-model="vm.attributeSelected[attribute.feature]" />&nbsp;
                {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}
              </label>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Descripción</label>
          <div class="col-md-4">
            <textarea ng-model="vm.description" class="form-control" rows="4"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Guardar producto</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <a ui-sref="home" class="btn btn-link">Cancelar</a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Aviso</h3>
  </div>
  <div class="modal-body" id="modal-body">
    Ya existe otro producto similar
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="md.ok()">Aceptar</button>
    <button class="btn btn-warning" type="button" ng-click="md.cancel()">Cancelar</button>
  </div>
</script>

<script type="text/ng-template" id="modalContentMP.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title-mp">Aviso</h3>
  </div>
  <div class="modal-body" id="modal-body-mp">
    Debe tener Mercado Pago activo para Cargar un Producto
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="md.okMP()">Aceptar</button>
    <button class="btn btn-warning" type="button" ng-click="md.cancelMP()">Cancelar</button>
  </div>
</script>

<loading show="vm.dataLoading"><loading>