
<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error</strong> {{::vm.status.error}}.
</div>

<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-12 col-sm-6">
        <h2>Detalle del producto</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row mb-40">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-40">
          <prdslider product="vm.product"></prdslider>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 mb-40 pl-5">
          <div class="product-details">
            <h2 class="title">{{vm.product.name}}</h2>

            <div class="panel panel-default panel-reset" ng-show="::vm.userRole === 'buyer'">
              <div class="panel-body">
                <ul class="short-desc section mb-1">
                  <li class="price-item"><strong>Categoría:</strong> {{::vm.product.category}}</li>
                  <li class="price-item"><strong>Subcategoría:</strong> {{::vm.product.sub_category}}</li>
                  <li class="price-item" ng-show="vm.product.state === 'N'"><strong>Tipo de producto:</strong> nuevo</li>
                  <li class="price-item" ng-show="vm.product.state === 'U'"><strong>Tipo de producto:</strong> usado</li>
                </ul>
              </div>
            </div>

            <!-- Price loaded by user -->
            <div class="panel panel-default panel-reset" ng-show="::vm.userRole === 'seller' && vm.priceLoadedByUser">
              <div class="panel-body">
                <ul class="short-desc section mb-1">
                  <li class="price-item">Precio: ${{::vm.sellerPrice.price}}</li>
                  <li class="price-item">Stock: {{vm.sellerPrice.stock}}</li>
                  <li class="price-item">Actualizado el: {{::vm.sellerPrice.price_modified | date:'dd-MM-yyyy'}}</li>
                  <li class="price-item">Estado: {{::vm.product.request_status}}</li>
                  <li class="price-item">Categoría: {{::vm.product.category}}</li>
                  <li class="price-item">Subcategoría: {{::vm.product.sub_category}}</li>
                  <li class="price-item" ng-show="vm.product.state === 'N'">Tipo de producto: nuevo</li>
                  <li class="price-item" ng-show="vm.product.state === 'U'">Tipo de producto: usado</li>
                </ul>
              </div>
            </div>

            <div class="panel panel-default panel-reset" ng-if="vm.emptyAttributes === false">
              <div class="panel-body pt-0">
                <div class="short-desc mb-1" ng-repeat="(group, features) in vm.attributes">
                  <h4>{{group}}</h4>
                  <div ng-repeat="(feature, attributes) in features">
                    <div class="ml-3" ng-repeat="attribute in attributes">
                      <label>{{feature}}: {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="usefull-link section">
              <li>
                <a title="favorito" ng-click="vm.addFavorite(vm.product.id)">
                  <i class="fa" ng-class="vm.favorite ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></i>
                  Favorito
                </a>
              </li>
              <li>
                <a ng-click="vm.print()">
                  <i class="fa fa-print" aria-hidden="true"></i>
                  Imprimir
                </a>
              </li>
              <li>
                <a href="mailto:?body={{vm.currentURL}}">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  Correo
                </a>
              </li>
            </ul>

            <div class="quantity-cart section">
              <button class="add-to-cart"
                ng-show="vm.userRole === 'seller' && vm.priceLoadedByUser"
                ng-click="vm.open()">Borrar producto</button>

              <button class="add-to-cart" role="button"
                ui-sref="quotationsCreate({id: vm.product.id})"
                ng-if="vm.userRole === 'buyer' && vm.priceLoadedByUser === false">Cotizá</button>

              <button class="add-to-cart" role="button"
                ui-sref="productAddPrice({productId: vm.product.id})"
                ng-show="vm.userRole === 'seller' && vm.priceLoadedByUser === false">Cargar precio</button>

              <button class="add-to-cart" role="button"
                ui-sref="productUpdatePrice({productId: vm.product.id})"
                ng-show="vm.userRole === 'seller' && vm.priceLoadedByUser">Actualizar precio</button>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <!-- Nav tabs -->
      <div class="col-xs-12">
        <uib-tabset active="activeJustified" class="pro-info-tab-list big-nav">
          <uib-tab index="0" heading="Precios" ng-if="vm.userRole === 'buyer'">
            <div class="row">
              <div class="col-xs-12 mt-5">
                <ul class="prices-list" ng-show="vm.userRole === 'buyer' && vm.priceLoadedByUser === false">
                  <li ng-repeat="price in vm.prices" class="price-item">
                    <div class="row panel panel-default panel-body">
                      <div class="col-xs-6">
                        <div class="row">
                          <div class="col-xs-12">
                            <span>
                              <strong>Vendedor:</strong> {{price.seller_name}}
                            </span>
                          </div>
                          <div class="col-xs-12">
                            <span><strong>Stock:</strong> {{price.stock}}</span>
                          </div>
                          <div class="col-xs-12">
                              <span><strong>Precio:</strong> ${{price.price}}</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-6 text-right">
                        <div class="row">
                          <div class="col-xs-12 mt-25">
                            <span>
                              <button ui-sref="productBuy({type: 'product', productId: vm.product.id, sellerId: price.seller_id, priceId: price.id})" class="btn btn-primary btn-xs">
                                Comprar
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </uib-tab>

          <uib-tab index="1" heading="Descripción" ng-if="vm.userRole === 'buyer' || vm.userRole === 'seller'">
            <p style="white-space:pre-wrap;">{{::vm.product.description}}</p>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Esta seguro de borrar el producto seleccionado?</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <b>{{ md.product.name }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="md.ok()">Aceptar</button>
    <button class="btn btn-warning" type="button" ng-click="md.cancel()">Cancelar</button>
  </div>
</script>
