<div class="page-banner-section" ng-if="vm.userRole === 'seller' && vm.showMyProducts">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Mis productos</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-banner-section" ng-if="vm.isHome === false && vm.showMyProducts === false && vm.showFavoriteProducts === false">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Productos</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-banner-section" ng-if="vm.showFavoriteProducts && vm.showMyProducts === false">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Favoritos</h2>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12" ng-if="vm.userRole === 'seller' && vm.showMyProducts">

  <div class="col-xs-12">
    <div class="shop-bar mb-30">
      <div class="item-per-page ml-1">
        <select ng-model="vm.myProduct.state" ng-change="vm.findUserProducts()">
          <option value="filter=A">Aprobado</option>
          <option value="filter=P">Pendiente</option>
          <option value="filter=R">Rechazado</option>
          <option value="">Estado</option>
        </select>
      </div>

      <div class="item-per-page ml-1">
        <select ng-model="vm.myProduct.order" ng-change="vm.findUserProducts()">
          <option value="order=recent">Recientes</option>
          <option value="order=older">Anteriores</option>
          <option value="order=lowest_price">Precio de menor a mayor</option>
          <option value="order=bigest_price">Precio de mayor a menor</option>
          <option value="">Ordenar por</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="wishlist-table table-responsive mb-40">
      <table>
        <thead>
          <tr>
            <th class="pro-thumbnail">Imagen</th>
            <th class="pro-price">Precio</th>
            <th class="pro-title">Producto</th>
            <th class="pro-title">Stock</th>
            <th class="pro-title">Tipo de producto</th>
            <th class="pro-title">Categoría</th>
            <th class="pro-stock-stauts">Subcategoría</th>
            <th class="">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in vm.productsList">
            <td class="pro-thumbnail">
              <a><img ng-src="{{product.thumb_url_1 || product.default_image}}" alt="" /></a>
            </td>
            <td class="pro-price"><span class="amount">${{product.price}}</span></td>
            <td class="pro-title">{{product.name}}</td>
            <td class="pro-title">{{product.stock}}</td>
            <td class="pro-title">{{(product.state === 'N' && 'Nuevo' || product.state === 'U' && 'Usado') || '-'}}</td>
            <td class="pro-title">{{product.category}}</td>
            <td class="pro-title">{{product.sub_category}}</td>
            <td ng-if="product.status !== 'pendiente'">
              <a ui-sref="productDetail({id: product.id})" title="Detalle">Detalle</a>
              <a ui-sref="productUpdatePrice({productId: product.id})">Actualizar</a>
            </td>
            <td ng-if="product.status === 'pendiente'">
              <a ui-sref="productDetail({id: product.id})" title="Detalle">Detalle</a>
              <a ui-sref="productUpdatePrice({productId: product.id})">Actualizar</a>
              (pendiente)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60" ng-if="vm.showMyProducts === false">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40">
          <form class="sidebar-search" ng-submit="vm.find($event)">
            <input
              id="product"
              type="text"
              placeholder="Productos"
              ng-model="vm.product.product"
              ng-keypress="vm.find($event)">

            <button class="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>

        <div class="single-sidebar mb-2" ng-if="vm.isHome === false">
          <h3 class="sidebar-title mb-1">Categorías</h3>
          <ul class="category-sidebar">
            <li><a ng-if="vm.product.subCategory" ng-click="vm.product.subCategory = undefined; vm.find()">Eliminar filtro</a></li>
            <li ng-repeat="category in vm.subCategories track by category.id">
              <a ng-class="vm.product.subCategory === category ? 'selected' : ''" ng-click="vm.product.subCategory = category; vm.find()">{{category.name}}</a>
            </li>
          </ul>
        </div>

        <div class="single-sidebar mb-2 mt-50" ng-if="vm.isHome === false">
          <h3 class="sidebar-title mb-1">Características</h3>
          <ul class="category-sidebar">
            <li><a ng-if="vm.product.attrs.length" ng-click="vm.product.attrs = []; vm.find()">Eliminar filtros</a></li>
          </ul>
        </div>

        <div ng-repeat="(feature, options) in vm.attributes track by $index" class="single-sidebar mb-20 mt-10" ng-if="vm.isHome === false">
          <h4>{{feature}}</h4>
          <ul class="category-sidebar">
            <li ng-repeat="option in options">
              <a ng-class="vm.product.attrs[option.id] === option.id ? 'selected' : ''"
                ng-click="vm.selectAttibute(option.id, options)">{{option.name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div ng-class="vm.isHome ? 'col-lg-12 col-md-12 col-xs-12' : 'col-lg-9 col-md-8 col-xs-12'">
        <div class="shop-bar mb-30">
          <ul class="shop-tablist">
            <li ng-class="vm.grid ? 'active' : ''">
              <a ng-click="vm.setGridView(true)" aria-expanded="false">
                <i class="fa fa-th"></i>
              </a>
            </li>
            <li ng-class="vm.grid ? '' : 'active'">
              <a ng-click="vm.setGridView(false)" aria-expanded="true">
                <i class="fa fa-list"></i>
              </a>
            </li>
          </ul>
          <div class="item-per-page">
            <select ng-model="vm.product.order_by" ng-change="vm.find()">
              <option value="date_created">Anteriores</option>
              <option value="-date_created">Más recientes</option>
              <option value="lowest_price">Precio de menor a mayor</option>
              <option value="-lowest_price">Precio de mayor a menor</option>
            </select>
          </div>
          <p>Productos {{vm.pagination.currentPage}}-{{vm.pagination.itemsPerPage}} de {{vm.pagination.totalItems}}</p>
        </div>

        <div class="tab-content section">
          <div ng-hide="vm.productsList.length">
            <h5 class="text-danger">No tienes productos para ver.</h5>
          </div>

          <!-- Grid view -->
          <div class="tab-pane row" ng-class="vm.grid ? 'active' : ''">
            <product
              ng-repeat="product in vm.productsList | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage"
              product="product"
              view="grid">
            </product>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination
                total-items="vm.pagination.totalItems"
                ng-if="vm.pagination.totalItems"
                ng-model="vm.pagination.currentPage"
                items-per-page="vm.pagination.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>

            </div>
          </div>

          <!-- List view -->
          <div class="tab-pane row" ng-class="vm.grid ? '' : 'active'">
            <product
              ng-repeat="product in vm.productsList | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage"
              product="product"
              view="list">
            </product>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination
                total-items="vm.pagination.totalItems"
                ng-if="vm.pagination.totalItems"
                ng-model="vm.pagination.currentPage"
                items-per-page="vm.pagination.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading show="vm.dataLoading"><loading>
