<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Comprar</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="alert alert-warning" role="alert" ng-if="vm.status.redirect">
  <strong>Aviso:</strong> Redirigiendo...
</div>

<div class="alert alert-success" role="alert" ng-if="vm.status.success">
  <div class="row">
    <div class="col-md-6">
      <p class="mt-3">
        <strong>Aviso:</strong> compra realizada con exito
      </p>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="home" class="btn btn-primary">Ir al inicio</a>
    </div>
  </div>
</div>

<div class="col-xs-12" ng-if="vm.status.success === false">
  <div class="mar-form">
    <h3 ng-show="vm.isProduct">{{vm.product.name}}</h3>

    <form class="form-horizontal m-0" name="form" role="form" ng-submit="vm.pay()">
      <script type="text/ng-template" id="error-messages">
        <span class="help-block" ng-message="required"><small>Este campo es requerido</small></span>
        <span class="help-block" ng-message="maxlength"><small>Valor ingresado muy largo</small></span>
        <span class="help-block" ng-message="pattern"><small>Solo valores numericos</small></span>
      </script>

      <div class="form-group has-feedback"
        ng-class="{'has-error': form.amount.$dirty && (form.amount.$error.required || form.amount.$error.pattern) }"
        ng-if="::vm.isProduct">
        <label class="col-md-4 control-label" for="textinput">Cantidad</label>
        <div class="col-md-4">
          <input id="amount"
            name="amount"
            type="number"
            placeholder="Cantidad"
            class="form-control input-md"
            ng-model="::vm.payment.amount"
            ng-pattern="/^\d+$/"
            ng-maxlength="10"
            required/>

          <span ng-messages="form.amount.$error" class="has-error" role="alert">
            <span class="help-block" ng-if="form.amount.$dirty && form.amount.$error.required"><small>Este campo es obligatorio</small></span>
            <span class="help-block" ng-if="form.amount.$dirty && form.amount.$error.pattern"><small>Solo valores numericos</small></span>
          </span>
        </div>
      </div>

      <!-- <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Forma de pago</label>
        <div class="col-xs-12 col-md-4">
          <select id="method"
            name="method"
            class="form-control"
            ng-model="::vm.payment.method"
            required>
            <option value="E">Efectivo</option>
            <option value="C">Tarjeta</option>
            <option value="">Forma de pago</option>
          </select>
        </div>
      </div> -->

      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Forma de entrega</label>
        <div class="col-xs-12 col-md-4">
          <select id="delivery"
            name="delivery"
            class="form-control"
            ng-model="::vm.payment.delivery"
            ng-change="::vm.deliveryMethod()"
            required>
            <option value="">Forma de entrega</option>
            <option value="P">Retiro en domicilio del vendedor</option>
            <option value="D">Envio a mi domicilio</option>
          </select>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label class="col-md-4 control-label" for="textinput">Recibe el pedido</label>
        <div class="col-md-4">
          <input ng-repeat="i in vm.payment.receivers track by $index"
            id="receives-{{$index}}"
            name="receives-{{$index}}"
            type="text"
            placeholder="Nombre"
            class="form-control input-md mb-3"
            ng-model="vm.payment.receivers[$index]"
            ng-maxlength="40"
            required
          />
            <div class="text-right">
              <button ng-show="vm.payment.receivers.length > 1" ng-click="vm.payment.removeReceiver()" type="button" class="btn btn-danger btn-xs mt-3">Remover destinatario</button>
              <button ng-click="vm.payment.addReceiver()" type="button" class="btn btn-warning btn-xs mt-3">Agregar otro destinatario</button>
            </div>
          <span ng-messages="form.name.$error" ng-if="form.name.$dirty" class="has-error" role="alert">
            <div ng-messages-include="error-messages"></div>
          </span>
        </div>
      </div>

      <div ng-if="vm.payment.delivery === 'D'">
        <div class="form-group">
          <div class="col-sm-offset-4 col-md-4">
            <div class="checkbox">
              <label>
                <input type="radio" name="user[role]" id="currentAddress" ng-model="vm.payment.addressType" value="C" checked> Mi domicilio actual
              </label>
              <label>
                <input type="radio" name="user[role]" id="otherAddress" ng-model="vm.payment.addressType" value="O" > Otro
              </label>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="vm.payment.addressType === 'O'">
        <!-- Street -->
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Calle</label>
          <div class="col-md-4">
            <input id="street"
              name="street"
              type="text"
              placeholder="Calle"
              class="form-control input-md"
              ng-model="::vm.user.street"
              ng-maxlength="40"/>

            <span ng-messages="form.street.$error" ng-if="form.street.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <!-- Street number -->
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Altura</label>
          <div class="col-md-4">
            <input id="street_number"
              name="street_number"
              type="text"
              placeholder="Altura"
              class="form-control input-md"
              ng-model="::vm.user.street_number"
              ng-pattern="/^\d+$/"
              ng-maxlength="5"/>

            <span ng-messages="form.street_number.$error" ng-if="form.street_number.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <!-- Floor -->
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Departamento</label>
          <div class="col-md-4">
            <input id="floor"
              name="floor"
              type="text"
              placeholder="Departamento"
              class="form-control input-md"
              ng-model="::vm.user.floor"
              ng-maxlength="2"/>

            <span ng-messages="form.floor.$error" ng-if="form.floor.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <!-- Unit -->
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Número</label>
          <div class="col-md-4">
            <input id="unit"
              name="unit"
              type="text"
              placeholder="Número"
              class="form-control input-md"
              ng-model="::vm.user.unit"
              ng-pattern="/^\d+$/"
              ng-maxlength="40"/>

            <span ng-messages="form.unit.$error" ng-if="form.unit.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <!-- Provincia -->
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Provincia</label>
          <div class="col-md-4">
            <input id="city"
              name="city"
              type="text"
              placeholder="Provincia"
              class="form-control input-md"
              ng-model="::vm.user.province"
              uib-typeahead="province for province in vm.provinces | filter:$viewValue"/>

            <span ng-messages="form.city.$error" ng-if="form.city.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>

        <!-- City -->
        <div class="form-group has-feedback">
          <label class="col-md-4 control-label" for="textinput">Ciudad</label>
          <div class="col-md-4">
            <input id="city"
              name="city"
              type="text"
              placeholder="Ciudad"
              class="form-control input-md"
              ng-model="::vm.user.city"
              uib-typeahead="province for province in vm.provinces | filter:$viewValue"/>

            <span ng-messages="form.city.$error" ng-if="form.city.$dirty" class="has-error" role="alert">
              <div ng-messages-include="error-messages"></div>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Confirmar compra</button>
          <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <a ng-click="vm.cancel()" class="btn btn-link">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
