<div class="tab-content mb-10">
  <div class="img-holder">
    <img ng-src="{{$ctrl.currentImage || $ctrl.product.image_1 || $ctrl.product.default_image}}" alt="" />
  </div>
  <slick infinite=true slides-to-show=3 slides-to-scroll=3 settings="$ctrl.slickConfig" class="pro-thumb-img-slider">
      <img ng-click="$ctrl.setImage($ctrl.product.image_1)" ng-src="{{$ctrl.product.image_1}}" alt="" />
      <img ng-click="$ctrl.setImage($ctrl.product.image_2)" ng-src="{{$ctrl.product.image_2}}" alt="" />
      <img ng-click="$ctrl.setImage($ctrl.product.image_3)" ng-src="{{$ctrl.product.image_3}}" alt="" />
      <img ng-click="$ctrl.setImage($ctrl.product.image_4)" ng-src="{{$ctrl.product.image_4}}" alt="" />
  </slick>
</div>
