<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Detalle producto</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <img alt="image" ng-src="{{::vm.product.image_1}}">
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="product-details">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>{{::vm.product.name}}</h4>
          <ul class="short-desc section">
            <li>Categoría: {{::vm.product.category}}</li>
            <li>Subcategoría: {{::vm.product.sub_category}}</li>
            <li ng-show="vm.product.state === 'N'">Tipo de producto: nuevo</li>
            <li ng-show="vm.product.state === 'U'">Tipo de producto: usado</li>
          </ul>

          <div class="short-desc mb-1" ng-repeat="(group, features) in vm.attributes">
            <h4>{{group}}</h4>
            <div ng-repeat="(feature, attributes) in features">
              <div class="ml-3" ng-repeat="attribute in attributes">
                <label>{{feature}}: {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}</label>
              </div>
            </div>
          </div>

          <h4 ng-show="vm.product.description">Descripción</h4>
          <div ng-show="vm.product.description">
            <p>{{::vm.product.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

