<!-- grid product-item start -->
<div ng-if="$ctrl.view === 'grid'" class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-xs-wide mb-40">
  <div class="product-item text-center">
    <div class="product-img">

      <a class="image" ui-sref="productDetail({id: $ctrl.product.id})">
        <img ng-src="{{$ctrl.productImage}}" alt="Detalle">
      </a>

      <a class="add-to-cart" ui-sref="productAddPrice({productId: $ctrl.product.id})" ng-show="$ctrl.userRole === 'seller' && $ctrl.isPriceLoadedByUser === false">Cargar precio</a>
      <a class="add-to-cart" ui-sref="productUpdatePrice({productId: $ctrl.product.id})" ng-show="$ctrl.userRole === 'seller' && $ctrl.isPriceLoadedByUser">Actualizar precio</a>

      <div class="action-btn fix">
        <a title="favorito" ng-click="$ctrl.addFavorite($ctrl.product.id)">
          <i class="fa" ng-class="$ctrl.favorite ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></i>
        </a>
        <a ui-sref="productDetail({id: $ctrl.product.id})" title="Detalle">
          <i class="fa fa-eye"></i>
        </a>
      </div>
    </div>
    <div class="product-info">
      <h5 class="title">
        <a ui-sref="productDetail({id: $ctrl.product.id})">{{$ctrl.product.name}}</a>
      </h5>

      <span class="price">
        <ul class="list-unstyled">
          <li>Precio desde: ${{$ctrl.lowestPrice}}</li>
          <!-- <li>Producto sin stock</li> -->
        </ul>
        <!-- <ul ng-show="$ctrl.isPriceLoadedByUser === false" class="list-unstyled">
          <li ng-show="$ctrl.lowestPrice.stock">Precio desde: ${{$ctrl.lowestPrice.price}}</li>
          <li ng-hide="$ctrl.lowestPrice.stock">Producto sin stock</li>
        </ul>

        <ul class="list-unstyled" ng-show="$ctrl.isPriceLoadedByUser">
          <li>Precio: ${{$ctrl.priceLoadedByUser}}</li>
          < !- - <li>Stock: {{$ctrl.stockLoadedByUser}}</li> - - >
          <li ng-show="$ctrl.product.selfProduct">Estado: {{$ctrl.product.status}}</li>
        </ul> -->
      </span>
    </div>
  </div>
</div>
<!-- grid product-item end -->

<!-- list product-item start -->
<div ng-if="$ctrl.view === 'list'" class="col-xs-12 mb-40">
  <div class="list-product-item row">

    <div class="list-product-img col-md-4 col-xs-12">
      <a class="image" ui-sref="productDetail({id: $ctrl.product.id})">
        <img ng-src="{{$ctrl.productImage}}" alt="Detalle">
      </a>
    </div>

    <div class="list-product-info fix col-md-8 col-xs-12">
      <h2 class="title">
        <a href="#">{{$ctrl.product.name}}</a>
      </h2>

      <span class="price" ng-show="$ctrl.isPriceLoadedByUser === false" class="list-group">
        <span ng-show="$ctrl.lowestPrice.stock" class="new">Precio desde: ${{$ctrl.lowestPrice.price}}</span>
        <span ng-hide="$ctrl.lowestPrice.stock" class="new">Producto sin stock</span>
      </span>
      <span class="price" ng-show="$ctrl.isPriceLoadedByUser">
        <span class="new">Precio: ${{$ctrl.priceLoadedByUser}}</span>
      </span>
      <!-- <span class="price" ng-show="$ctrl.isPriceLoadedByUser">
        <span class="new">Stock: {{$ctrl.stockLoadedByUser}}</span>
      </span>
      <span class="price" ng-show="$ctrl.isPriceLoadedByUser">
        <span class="new" ng-show="$ctrl.product.selfProduct">Estado: {{$ctrl.product.status}}</span>
      </span> -->

      <p>{{$ctrl.product.description}}</p>

      <div class="list-action-btn fix">
        <a class="add-to-cart" ui-sref="quotationsCreate({id: $ctrl.product.id})" ng-show="$ctrl.userRole === 'buyer' && $ctrl.isPriceLoadedByUser === false">Cotización</a>
        <a class="add-to-cart" ui-sref="productAddPrice({productId: $ctrl.product.id})" ng-show="$ctrl.userRole === 'seller' && $ctrl.isPriceLoadedByUser === false">Cargar precio</a>
        <a class="add-to-cart" ui-sref="productUpdatePrice({productId: $ctrl.product.id})" ng-show="$ctrl.userRole === 'seller' && $ctrl.isPriceLoadedByUser">Actualizar precio</a>

        <a title="favorito" ng-click="$ctrl.addFavorite($ctrl.product.id)">
          <i class="fa" ng-class="$ctrl.favorite ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></i>
        </a>
        <a ui-sref="productDetail({id: $ctrl.product.id})" title="Detalle">
          <i class="fa fa-eye"></i>
        </a>
        <!-- <a title="Cotización">
          <i class="fa fa-usd"></i>
        </a> -->
      </div>
    </div>
  </div>
</div>
<!-- list product-item end -->
