<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Seguimiento</h2>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h4>Recibe</h4>
    <ul class="list-unstyled attr-list">
      <li ng-repeat="receiver in vm.receivers">Nombre: {{receiver.name}}</li>
      <li>Teléfono: {{::vm.purchase.buyer_data.phone}}</li>
      <li>Email: {{::vm.purchase.buyer_data.email}}</li>
      <!--<li>Dirección: {{::vm.purchase.buyer_data.}}</li>-->
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h4>Seguimiento</h4>
    <ul class="list-unstyled attr-list">
      <li>{{::vm.purchase.date_created}} - {{::vm.purchase.state.state}}</li>
    </ul>
  </div>
</div>