<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Comprador</h2>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Datos del comprador</h4>
        <ul class="list-unstyled attr-list">
          <li>Nombre: {{::vm.buyer.first_name}} </li>
          <li>Email: {{::vm.buyer.email}}</li>
          <li>Teléfono: {{::vm.buyer.phone}}</li>
          <li>Ubicación: </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Reputación</h4>
        <ul class="list-unstyled attr-list">
          <li>Miembro desde: {{::vm.buyer.date_joined}}</li>
          <li>Compras: {{::vm.buyer.purchases}}</li>
          <li>Calificación: <span ng-repeat="i in vm.buyer.rating" class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
