<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Mis ventas</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40"></div>

        <div class="single-sidebar mb-40">
          <h3 class="sidebar-title">Estado</h3>
          <ul class="category-sidebar">
            <li><a ng-click="vm.stateSelected = undefined; vm.search()">Eliminar filtro</a></li>
            <li>
              <a  ng-class="vm.stateSelected === 'P' ? 'selected' : ''" ng-click="vm.stateSelected = 'P'; vm.search()">En progreso</a>
            </li>
            <li>
              <a ng-class="vm.stateSelected === 'S' ? 'selected' : ''" ng-click="vm.stateSelected = 'S'; vm.search()">Enviada</a>
            </li>
            <li>
              <a ng-class="vm.stateSelected === 'F' ? 'selected' : ''" ng-click="vm.stateSelected = 'F'; vm.search()">Exitosa</a>
            </li>
            <li>
              <a ng-class="vm.stateSelected === 'W' ? 'selected' : ''" ng-click="vm.stateSelected = 'W'; vm.search()">En conflicto</a>
            </li>
            <li>
              <a ng-class="vm.stateSelected === 'C' ? 'selected' : ''" ng-click="vm.stateSelected = 'C'; vm.search()">Cancelada</a>
            </li>
            <!-- <li>
              <a ng-click="vm.stateSelected = 'R'; vm.search()">Recibida</a>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">

          <div class="item-per-page ml-1">
            <select
              ng-model="vm.saleSort.state"
              ng-change="vm.search()">
              <option value="-date_created">
                Recientes
              </option>
              <option value="date_created">
                Anteriores
              </option>
              <option value="price">
                Precio de menor a mayor
              </option>
              <option value="-price">
                Precio de mayor a menor
              </option>
              <option value="">Ordenar por</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">
          <ul class="shop-tablist">
            <li ng-class="vm.grid ? 'active' : ''">
              <a ng-click="vm.setGridView(true)" aria-expanded="false">
                <i class="fa fa-th"></i>
              </a>
            </li>
            <li ng-class="vm.grid ? '' : 'active'">
              <a ng-click="vm.setGridView(false)" aria-expanded="true">
                <i class="fa fa-list"></i>
              </a>
            </li>
          </ul>
          <div class="item-per-page"></div>
          <p>ventas {{vm.pSales.currentPage}}-{{vm.pSales.itemsPerPage}} de {{vm.pSales.totalItems}}</p>
        </div>

        <div class="tab-content section">

          <!-- Grid view -->
          <div class="tab-pane row" ng-class="vm.grid ? 'active' : ''">
            <div ng-hide="vm.sales.length">
              <h5 class="text-danger">No tienes ventas para ver.</h5>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-xs-wide mb-40"
              ng-repeat="sale in vm.sales | startFrom:(vm.pSales.currentPage - 1)*vm.pSales.itemsPerPage | limitTo:vm.pSales.itemsPerPage track by $index">
              <div class="product-item text-center">
                <div class="product-img">

                  <a class="image" ui-sref="saleDetail({id: sale.id})">
                    <img ng-src="{{sale.image_1 || sale.default_image}}" alt="Detalle">
                  </a>

                  <div class="action-btn fix">
                    <a ui-sref="saleDetail({id: sale.id})" title="Detalle" class="full">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="product-info">
                  <h5 class="title">
                    <a href="">{{sale.name}}</a>
                  </h5>

                  <span class="price">
                    <ul class="list-group product-price-list extra">
                      <li>Precio: ${{sale.price}}</li>
                      <li>Stock: {{sale.count}}</li>
                      <li>Estado: {{sale.state.state}}</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination
                total-items="vm.pSales.totalItems"
                ng-if="vm.pSales.totalItems"
                ng-model="vm.pSales.currentPage"
                items-per-page="vm.pSales.itemsPerPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>

          <!-- List view -->
          <div class="tab-pane row" ng-class="vm.grid ? '' : 'active'">
            <div ng-hide="vm.sales.length">
              <h5 class="text-danger">No tienes ventas para ver.</h5>
            </div>

            <div class="col-xs-12 mb-40"
              ng-repeat="sale in vm.sales | startFrom:(vm.pSales.currentPage - 1)*vm.pSales.itemsPerPage | limitTo:vm.pSales.itemsPerPage track by $index">
              <div class="list-product-item">
                <div class="list-product-img">
                  <a class="image" ui-sref="productDetail({id: $ctrl.product.id})">
                    <img alt="image" ng-src="{{sale.image_1 || sale.default_image}}">
                  </a>
                </div>
                <div class="fix">
                  <h2 class="title">{{sale.name}}</h2>
                  <ul class="list-unstyled attr-list">
                    <li>Fecha: {{sale.date_created}}</li>
                    <li>Estado: {{sale.state.state}}</li>
                    <li>Cantidad: {{sale.count}}</li>
                    <li>Precio: ${{sale.price}}</li>
                  </ul>
                  <div class="list-action-btn fix">
                    <a ui-sref="saleDetail({id: sale.id})" class="add-to-cart">Ver detalle</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination
                total-items="vm.pSales.totalItems"
                ng-if="vm.pSales.totalItems"
                ng-model="vm.pSales.currentPage"
                items-per-page="vm.pSales.itemsPerPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
