<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Detalle venta</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row mb-40">
      <div class="col-xs-12 col-sm-6 col-md-4 mb-40">
        <prdslider product="vm.purchase"></prdslider>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 mb-40 pl-5">
        <div class="product-details">
          <h2 class="title">{{vm.purchase.name}}</h2>

          <div class="panel panel-default panel-reset">
            <div class="panel-body">
              <ul class="list-group attr-list">
                <li>Precio de la venta: ${{::vm.purchase.price}}</li>
                <li>Fecha de compra: {{::vm.purchase.date_created | date:'dd-MM-yyyy'}}</li>
                <li>Forma de pago: {{::vm.purchase.payment}}</li>
                <li>Cantidad: {{::vm.purchase.count}}</li>
                <li>Estado: {{::vm.purchase.state.state}}</li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default panel-reset" ng-if="vm.attributesLen">
            <div class="panel-body">
              <div class="short-desc mb-1" ng-repeat="(group, features) in vm.attributes">
                <h4>{{group}}</h4>
                <div ng-repeat="(feature, attributes) in features">
                  <div class="ml-3" ng-repeat="attribute in attributes">
                    <label>{{feature}}: {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="quantity-cart section">
            <button ng-show="vm.sent" class="add-to-cart" ui-sref="saleSentConfirmation({purchaseId: vm.purchaseId})">Confirmar envío</button>
            <button ng-show="vm.grade" class="add-to-cart" ui-sref="saleRating({purchaseId: vm.purchaseId})">Calificar comprador</button>
          </div>

          <ul class="usefull-link section">
            <li>
              <a ng-click="vm.print()">
                <i class="fa fa-print" aria-hidden="true"></i>
                Imprimir
              </a>
            </li>
            <li>
              <a href="mailto:?body={{vm.currentURL}}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Correo
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Nav tabs -->
      <div class="col-xs-12">
        <uib-tabset active="activeJustified" class="pro-info-tab-list big-nav">
          <!-- <uib-tab index="0" heading="Descripción">
            <p>{{vm.purchase.description}}</p>
          </uib-tab> -->

          <uib-tab index="1" heading="Comprador">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <!-- <h4>Comprador</h4> -->
                  </div>
                  <!-- <div class="col-xs-6 text-right">
                    <button ui-sref="saleBuyerDetail({id: vm.purchase.buyer_id})" class="btn btn-success btn-xs">Ver mas</button>
                  </div> -->
                </div>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">Nombre: {{::vm.purchase.buyer_data.name}}</li>
                  <li class="panel-tab-item">Teléfono: {{::vm.purchase.buyer_data.phone}}</li>
                  <li class="panel-tab-item">Email: {{::vm.purchase.buyer_data.email}}</li>
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Reputación</h4>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">Miembro desde: {{::vm.buyer.date_joined | date:'dd-MM-yyyy'}}</li>
                  <li class="panel-tab-item">Compras: {{::vm.buyer.sales}}</li>
                  <li class="panel-tab-item">Calificación: <span ng-repeat="i in vm.buyer.rating" class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                </ul>
              </div>
            </div>
          </uib-tab>

          <uib-tab index="2" heading="Seguimiento">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <!-- <h4>Seguimiento</h4> -->
                  </div>
                  <!-- <div class="col-xs-6 text-right">
                    <button ui-sref="saleState({id: vm.purchaseId})" class="btn btn-success btn-xs">Ver mas</button>
                  </div> -->
                </div>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">Número de pedido: {{vm.purchase.state.tracking_code}}</li>
                  <li class="panel-tab-item">Envio: {{vm.purchase.state.type_sent}}</li>
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Recibe</h4>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item" ng-repeat="receiver in vm.receivers">Nombre: {{receiver.name}}</li>
                  <li class="panel-tab-item">Teléfono: {{::vm.purchase.buyer_data.phone}}</li>
                  <li class="panel-tab-item">Email: {{::vm.purchase.buyer_data.email}}</li>
                  <!--<li>Dirección: {{::vm.purchase.buyer_data.}}</li>-->
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Seguimiento</h4>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">{{::vm.purchase.date_created}} - {{::vm.purchase.state.state}}</li>
                </ul>
              </div>
            </div>
          </uib-tab>

          <uib-tab index="3" heading="Reclamos">
            <div ng-repeat="complaint in vm.purchase.complaints" class="panel panel-default">
              <div class="panel-body">
                <h4 ng-if="vm.purchase.complaints.length">Reclamos</h4>
                <div class="row" >
                  <div class="col-xs-10">
                    <ul class="list-unstyled attr-list panel-tab">
                      <li class="panel-tab-item">Número de reclamo: {{complaint.id}}</li>
                      <li class="panel-tab-item">Motivo: {{complaint.complaint_type}}</li>
                    </ul>
                  </div>
                  <div class="col-xs-2 text-right">
                    <button ui-sref="purchaseComplaintDetail({complaintId: complaint.id})" class="btn btn-success btn-xs">Detalle</button>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
