<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Detalle reclamo</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row mb-40">
      <div class="col-xs-12 col-sm-6 col-md-4 mb-40">
        <prdslider product="vm.complaint"></prdslider>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 mb-40 pl-5">
        <div class="product-details">
          <h2 class="title">{{vm.complaint.product}}</h2>

          <div class="panel panel-default panel-reset">
            <div class="panel-body">
              <ul class="short-desc section mb-1">
                <li class="price-item"><strong>Fecha:</strong> {{vm.complaint.date | date:'dd-MM-yyyy'}}</li>
                <li class="price-item"><strong>Número de reclamo:</strong> {{vm.complaint.id}}</li>
                <li class="price-item"><strong>Motivo:</strong> {{vm.complaint.complaint_type}}</li>
                <li class="price-item mb-20"><strong>Estado:</strong> {{vm.complaint.state}}</li>
                <!-- <li class="price-item"><strong>Mensaje:</strong> {{vm.complaint.motive}}</li> -->
              </ul>
            </div>
          </div>

          <ul class="usefull-link section">
            <li>
              <a ng-click="vm.print()">
                <i class="fa fa-print" aria-hidden="true"></i>
                Imprimir
              </a>
            </li>
            <li>
              <a href="mailto:?body={{vm.currentURL}}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Correo
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Nav tabs -->
      <div class="col-xs-12">
        <uib-tabset active="activeJustified" class="pro-info-tab-list big-nav">
          <uib-tab index="0" heading="Preguntas">
            <qa answer="vm.userRole === 'buyer'" item-id="vm.complaint.id" complaint="true"></qa>
          </uib-tab>
          <uib-tab index="1" heading="Mensaje">
            <div ng-hide="vm.complaint.motive">
              <h5 class="text-danger">No tienes mensajes para ver.</h5>
            </div>
            {{vm.complaint.motive}}
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>

<!--
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-unstyled attr-list">
      <li>Fecha: {{vm.complaint.date}}</li>
      <li>Número de reclamo: {{vm.complaint.id}}</li>
      <li>Motivo: {{vm.complaint.complaint_type}}</li>
      <li>Comentarios: {{vm.complaint.motive}}</li>
    </ul>

    <h4>Preguntas</h4>
    <qa answer="vm.userRole === 'buyer'" item-id="vm.complaint.id" complaint="true"></qa>
  </div>
</div> -->
