<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-12 col-md-6">
        <h2>Detalle compra</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row mb-40">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-40">
          <!-- <img alt="image" ng-src="{{vm.purchase.thumb_url_1 || vm.purchase.default_image}}"> -->
          <prdslider product="vm.purchase"></prdslider>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 mb-40">
          <div class="product-details">
            <h2 class="title">{{vm.purchase.name}}</h2>

            <ul class="list-unstyled attr-list">
              <li>Fecha de compra: {{vm.purchase.date_created | date:'dd-MM-yyyy'}}</li>
              <li>Cantidad: {{vm.purchase.count}}</li>
              <li>Precio: ${{vm.purchase.price}}</li>
              <!-- <li>Forma de pago: {{vm.purchase.payment}}</li> -->
              <li>Estado: {{vm.purchase.state.state}}</li>
            </ul>

            <ul class="usefull-link mt-40">
              <li>
                <a ng-click="vm.print()">
                  <i class="fa fa-print" aria-hidden="true"></i>
                  Imprimir
                </a>
              </li>
              <li>
                <a href="mailto:?body={{vm.currentURL}}">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  Correo
                </a>
              </li>
            </ul>

            <!-- <div class="short-desc" class="mb-5" ng-repeat="(group, features) in vm.attributes">
              <h4>{{group}}</h4>
              <div ng-repeat="(feature, attributes) in features">
                <div class="ml-3" ng-repeat="attribute in attributes">
                  <label>{{feature}}: {{attribute.name[0].toUpperCase() + attribute.name.slice(1)}}</label>
                </div>
              </div>
            </div> -->

            <div class="quantity-cart section">
              <button ng-show="vm.displayConfirmation" type="button" class="btn btn-success" ui-sref="purchaseRating({purchaseId: vm.purchaseId})">Confirmación de recepción</button>
              <button ng-show="vm.displayConflict" type="button" class="btn btn-danger" ui-sref="purchaseComplaint({purchaseId: vm.purchaseId})">Reclamo</button>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <!-- Nav tabs -->
      <div class="col-xs-12">
        <uib-tabset active="activeJustified" class="pro-info-tab-list big-nav">
          <uib-tab index="0" heading="Vendedor">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <!-- <h4>Vendedor</h4> -->
                  </div>
                  <!-- <div class="col-xs-6 text-right">
                    <button ui-sref="purchaseSellerDetail({id: vm.purchase.seller_id})" class="btn btn-success btn-xs">Ver mas</button>
                  </div> -->
                </div>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">Nombre: {{vm.purchase.seller_data.name}}</li>
                  <li class="panel-tab-item">Telefono: {{vm.purchase.seller_data.phone}}</li>
                  <li class="panel-tab-item">Email: {{vm.purchase.seller_data.email}}</li>
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Reputación</h4>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">Miembro desde: {{vm.seller.date_joined | date:'dd-MM-yyyy'}}</li>
                  <li class="panel-tab-item">Ventas: {{vm.seller.sales}}</li>
                  <li class="panel-tab-item">Calificación: <span ng-repeat="i in vm.seller.rating" class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                </ul>
              </div>
            </div>
          </uib-tab>

          <uib-tab index="1" heading="Seguimiento">
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Envío</h4>
                <ul class="list-unstyled attr-list panel-tab">
                  <li class="panel-tab-item">Número de pedido: {{vm.purchase.state.tracking_code}}</li>
                  <li class="panel-tab-item">Envio: {{vm.purchase.state.type_sent}}</li>
                </ul>
              </div>
            </div>
          </uib-tab>

          <uib-tab index="2" heading="Reclamos">
            <div ng-hide="vm.purchase.complaints.length">
              <h5 class="text-danger">No tienes reclamos para ver.</h5>
            </div>
            <div ng-repeat="complaint in vm.purchase.complaints" class="panel panel-default">
              <div class="panel-body">
                <h4 ng-if="vm.purchase.complaints.length">Reclamo</h4>
                <div class="row" >
                  <div class="col-xs-10">
                    <ul class="list-unstyled attr-list panel-tab">
                      <li class="panel-tab-item">Número de reclamo: {{complaint.id}}</li>
                      <li class="panel-tab-item">Motivo: {{complaint.complaint_type}}</li>
                    </ul>
                  </div>
                  <div class="col-xs-2 text-right">
                    <button ui-sref="purchaseComplaintDetail({complaintId: complaint.id })" class="btn btn-success btn-xs">Detalle</button>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>

