<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Vendedor</h2>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Datos del vendedor</h4>
        <ul class="list-unstyled attr-list">
          <li><strong>Nombre:</strong> {{::vm.seller.first_name}} </li>
          <li><strong>Email:</strong> {{::vm.seller.email}}</li>
          <li><strong>Teléfono:</strong> {{::vm.seller.phone}}</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Reputación</h4>
        <ul class="list-unstyled attr-list">
          <li><strong>Miembro desde:</strong> {{::vm.seller.date_joined}}</li>
          <li><strong>Ventas:</strong> {{::vm.seller.sales}}</li>
          <li><strong>Calificación:</strong>
            <span ng-repeat="i in vm.seller.rating" class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>