<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Comprar</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success" role="alert" ng-if="vm.success">
  <div class="row">
    <div class="col-md-6">
      <p class="mt-3">
        <strong>Aviso:</strong> compra realizada con exito
      </p>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="home" class="btn btn-primary">Ir al inicio</a>
    </div>
  </div>
</div>