<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Reclamo</h2>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="vm.status.error">
  <strong>Error:</strong> {{::vm.status.error}}.
</div>

<div class="alert alert-success" role="alert" ng-if="vm.status.success">
  <div class="row">
    <div class="col-md-6">
      <p class="mt-3">
        <strong>Aviso:</strong> reclamo realizado con exito
      </p>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="home" class="btn btn-primary">Ir al inicio</a>
    </div>
  </div>
</div>

<div class="mar-form" ng-hide="vm.status.success">
  <form class="form-horizontal" name="form" ng-submit="vm.save()" role="form" ng-if="vm.status.success === false">
    <div class="form-group">
      <div class="radio col-md-12">
        <label>
          <input type="radio" name="option" value="D" ng-model="vm.option" /> Es distinto a lo que compré
        </label>
      </div>
      <div class="radio col-md-12">
        <label>
          <input type="radio" name="option" value="B" ng-model="vm.option" /> Llegó roto
        </label>
      </div>
      <div class="radio col-md-12">
        <label>
          <input type="radio" name="option" value="L" ng-model="vm.option" /> Nunca llegó
        </label>
      </div>
      <div class="radio col-md-12">
        <label>
          <input type="radio" name="option" value="O" ng-model="vm.option" /> Otro
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label m-4" for="textinput">Comentarios</label>
      <div class="ml-4 mr-4">
        <textarea ng-model="vm.comments" class="form-control" rows="4"></textarea>
      </div>
    </div>

    <div class="form-group mt-5">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
