<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-12 col-md-6">
        <h2>Mis compras</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40">
          <!-- <form action="#" class="sidebar-search" ng-submit="vm.find()">
            <input
              id="product"
              type="text"
              placeholder="Producto"
              ng-model="vm.product.product"
              uib-typeahead="product.name for product in vm.products | filter:$viewValue">

            <button class="submit">
              <i class="fa fa-search"></i>
            </button>
          </form> -->
        </div>

        <div class="single-sidebar mb-40">
          <h3 class="sidebar-title">Estado</h3>
          <ul class="category-sidebar">
            <li><a ng-click="vm.stateSelected = undefined; vm.search()">Eliminar filtro</a></li>
            <li><a ng-class="vm.stateSelected === 'P' ? 'selected' : ''" ng-click="vm.stateSelected = 'P'; vm.search()">En progreso</a></li>
            <li><a ng-class="vm.stateSelected === 'S' ? 'selected' : ''" ng-click="vm.stateSelected = 'S'; vm.search()">Enviada</a></li>
            <li><a ng-class="vm.stateSelected === 'F' ? 'selected' : ''" ng-click="vm.stateSelected = 'F'; vm.search()">Exitosa</a></li>
            <!-- <li><a ng-class="vm.stateSelected === 'F' ? 'selected' : ''" ng-click="vm.stateSelected = 'F'; vm.search()">Entregada</a></li> -->
            <li><a ng-class="vm.stateSelected === 'W' ? 'selected' : ''" ng-click="vm.stateSelected = 'W'; vm.search()">En conflicto</a></li>
            <li><a ng-class="vm.stateSelected === 'C' ? 'selected' : ''" ng-click="vm.stateSelected = 'C'; vm.search()">Cancelada</a></li>
            <!-- <li><a ng-class="vm.stateSelected === 'R' ? 'selected' : ''" ng-click="vm.stateSelected = 'R'; vm.search()">Recibida</a></li> -->
          </ul>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">
          <ul class="shop-tablist">
            <li ng-class="vm.grid ? 'active' : ''">
              <a ng-click="vm.setGridView(true)" aria-expanded="false">
                <i class="fa fa-th"></i>
              </a>
            </li>
            <li ng-class="vm.grid ? '' : 'active'">
              <a ng-click="vm.setGridView(false)" aria-expanded="true">
                <i class="fa fa-list"></i>
              </a>
            </li>
          </ul>
          <div class="item-per-page">
            <select ng-model="vm.purchase.order_by" ng-change="vm.search()">
              <option value="date_created">Anteriores</option>
              <option value="-date_created">Más recientes</option>
              <option value="price">Precio de menor a mayor</option>
              <option value="-price">Precio de mayor a menor</option>
            </select>
          </div>
          <p>Compras {{vm.pPurchases.currentPage}}-{{vm.pPurchases.itemsPerPage}} de {{vm.pPurchases.totalItems}}</p>
        </div>

        <div class="tab-content section">

          <!-- Grid view -->
          <div class="tab-pane row" ng-class="vm.grid ? 'active' : ''">
            <div ng-hide="vm.purchases.length">
              <h5 class="text-danger">No tienes compras para ver.</h5>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-xs-wide mb-40"
              ng-repeat="purchase in vm.purchases | startFrom:(vm.pPurchases.currentPage - 1)*vm.pPurchases.itemsPerPage | limitTo:vm.pPurchases.itemsPerPage track by $index">
              <div class="product-item text-center">
                <div class="product-img">

                  <a class="image" ui-sref="purchaseDetail({id: purchase.id})" title="Ver detalle">
                    <img ng-src="{{purchase.image_1 || purchase.default_image}}" alt="Detalle">
                  </a>

                  <div class="action-btn fix">
                    <a ui-sref="purchaseDetail({id: purchase.id})" title="Ver detalle" class="full">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="product-info">
                  <h5 class="title">
                    <a ui-sref="purchaseDetail({id: purchase.id})">{{purchase.name}}</a>
                  </h5>

                  <span class="price">
                    <ul class="list-group product-price-list extra">
                      <li>Precio: ${{purchase.price}}</li>
                      <li>Cantidad: {{purchase.count}}</li>
                      <li>Estado: {{purchase.state.state}}</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination total-items="vm.pPurchases.totalItems"
                ng-if="vm.pPurchases.totalItems"
                ng-model="vm.pPurchases.currentPage"
                items-per-page="vm.pPurchases.itemsPerPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>

          <!-- List view -->
          <div class="tab-pane row" ng-class="vm.grid ? '' : 'active'">
            <div ng-hide="vm.purchases.length">
              <h5 class="text-danger">No tienes compras para ver.</h5>
            </div>

            <div class="col-xs-12 mb-40" ng-repeat="purchase in vm.purchases | startFrom:(vm.pPurchases.currentPage - 1)*vm.pPurchases.itemsPerPage | limitTo:vm.pPurchases.itemsPerPage track by $index">
              <div class="list-product-item row">
                <div class="list-product-img col-md-4 col-xs-12">
                  <a class="image" ui-sref="productDetail({id: $ctrl.product.id})">
                    <img ng-src="{{purchase.image_1 || purchase.default_image}}" alt="Detalle">
                  </a>
                </div>
                <div class="fix col-md-8 col-xs-12">
                  <h2 class="title">{{purchase.name}}</h2>
                  <ul class="list-unstyled attr-list">
                    <li>Fecha: {{purchase.date_created}}</li>
                    <li>Estado: {{purchase.state.state}}</li>
                    <li>Cantidad: {{purchase.count}}</li>
                    <li>Precio: ${{purchase.price}}</li>
                  </ul>
                  <div class="list-action-btn fix">
                    <a ui-sref="purchaseDetail({id: purchase.id})" class="add-to-cart">Ver detalle</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination total-items="vm.pPurchases.totalItems"
                ng-if="vm.pPurchases.totalItems"
                ng-model="vm.pPurchases.currentPage"
                items-per-page="vm.pPurchases.itemsPerPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
