<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Reclamos</h2>
      </div>
    </div>
  </div>
</div>


<div class="page-section section pt-100 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="single-sidebar mb-40">
        </div>

        <div class="single-sidebar mb-40">
          <h3 class="sidebar-title">Estado</h3>
          <ul class="category-sidebar">
            <li><a ng-click="vm.complaint.state = undefined; vm.search()">Eliminar filtro</a></li>
            <li><a ng-class="vm.complaint.state === 'I' ? 'selected' : ''" ng-click="vm.complaint.state = 'I'; vm.search()">En conflicto</a></li>
            <li><a ng-class="vm.complaint.state === 'F' ? 'selected' : ''" ng-click="vm.complaint.state = 'F'; vm.search()">Terminado</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-xs-12">
        <div class="shop-bar mb-30">
          <ul class="shop-tablist">
            <li ng-class="vm.grid ? 'active' : ''">
              <a ng-click="vm.setGridView(true)" aria-expanded="false">
                <i class="fa fa-th"></i>
              </a>
            </li>
            <li ng-class="vm.grid ? '' : 'active'">
              <a ng-click="vm.setGridView(false)" aria-expanded="true">
                <i class="fa fa-list"></i>
              </a>
            </li>
          </ul>
          <div class="item-per-page">
            <select ng-model="vm.complaint.sort_by" ng-change="vm.search()">
              <option value="-date">Mas recientes</option>
              <option value="date">Anteriores</option>
            </select>
          </div>
          <p>Reclamos {{vm.pagination.currentPage}}-{{vm.pagination.itemsPerPage}} de {{vm.pagination.totalItems}}</p>
        </div>

        <div class="tab-content section">

          <!-- Grid view -->
          <div class="tab-pane row" ng-class="vm.grid ? 'active' : ''">
            <div ng-hide="vm.complaints.length">
              <h5 class="text-danger">No tienes reclamos para ver.</h5>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-xs-wide mb-40"
              ng-repeat="complaint in vm.complaints | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage track by $index">
              <div class="product-item text-center">
                <div class="product-img">
                  <a class="image" ui-sref="purchaseComplaintDetail({complaintId: complaint.id})" title="Ver detalle">
                    <img ng-src="{{complaint.image_1}}" alt="Detalle">
                  </a>

                  <div class="action-btn fix">
                    <a ui-sref="purchaseComplaintDetail({complaintId: complaint.id})" title="Ver detalle" class="full">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
                <div class="product-info">
                  <h5 class="title">
                    <a ui-sref="purchaseComplaintDetail({complaintId: complaint.id})">{{complaint.product}}</a>
                  </h5>

                  <span class="price">
                    <ul class="list-group product-price-list extra">
                      <li>Motivo: {{complaint.complaint_type}}</li>
                      <li>Mensajes: {{complaint.count_msgs}}</li>
                      <li>Estado: {{complaint.state}}</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination total-items="vm.pagination.totalItems"
                ng-if="vm.pagination.totalItems"
                ng-model="vm.pagination.currentPage"
                items-per-page="vm.pagination.itemsPerPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>

          <!-- List view -->
          <div class="tab-pane row" ng-class="vm.grid ? '' : 'active'">
            <div ng-hide="vm.complaints.length">
              <h5 class="text-danger">No tienes compras para ver.</h5>
            </div>

            <div class="col-xs-12 mb-40" ng-repeat="complaint in vm.complaints | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage track by $index">
              <div class="list-product-item row">
                <div class="list-product-img col-md-4 col-xs-12">
                  <a class="image" ui-sref="productDetail({id: $ctrl.product.id})">
                    <img alt="image" ng-src="{{complaint.thumb_url_1}}">
                  </a>
                </div>
                <div class="fix col-md-8 col-xs-12">
                  <h2 class="title">{{complaint.product}}</h2>
                  <ul class="list-unstyled attr-list">
                    <li>Motivo: {{complaint.complaint_type}}</li>
                    <li>Mensajes: {{complaint.count_msgs}}</li>
                    <li>Estado: {{complaint.state}}</li>
                  </ul>
                  <div class="list-action-btn fix">
                    <a ui-sref="purchaseComplaintDetail({complaintId: complaint.id})" class="add-to-cart">Ver detalle</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="page-pagination text-center col-xs-12 fix mb-40">
              <ul
                uib-pagination total-items="vm.pPurchases.totalItems"
                ng-if="vm.pPurchases.totalItems"
                ng-model="vm.pPurchases.currentPage"
                items-per-page="vm.pPurchases.itemsPerPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
