<div class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Preguntas</h2>
      </div>
    </div>
  </div>
</div>


<div class="page-section section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="mb-10">
          <div class="shop-bar">
            <!--<div class="item-per-page ml-1">
              <select id="sort"
                ng-model="vm.questionsState.sort"
                ng-change="vm.sort()">
                <option value="answered">Respondidas</option>
                <option value="not_answered">No respondidas</option>
                <option value="">Estado</option>
              </select>
            </div>-->

            <div class="item-per-page ml-1">
              <select id="state"
                ng-model="vm.questionsState.state"
                ng-change="vm.state()">
                <option value="-date_created">Recientes</option>
                <option value="date_created">Anteriores</option>
                <option value="">Ordenar por</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="page-section section pt-20 pb-60">
          <div class="mb-5" ng-hide="vm.questions.length">
            <h5 class="text-danger"><strong>No tienes preguntas para ver.</strong></h5>
          </div>
          <div
            ng-show="vm.userRole === 'buyer'"
            ng-repeat="question in vm.questions | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage"
            class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <img ng-if="question.thumb_url_1" alt="image" ng-src="{{question.thumb_url_1}}">
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-10">
                          <h3>{{question.product}}</h3>
                        </div>
                        <div class="col-md-2 text-right">
                          <div>{{question.date_created | date:'dd-MM-yyyy'}}</div>
                          <button ui-sref="questionDetail({id: question.estimation})" class="btn btn-success btn-xs">Ver mas</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <p>{{question.question}}</p>
                      <ul class="list-unstyled">
                        <li ng-repeat="reply in question.replies">
                          <div class="row">
                            <div class="col-md-10">
                              {{reply.answer}}
                            </div>
                            <div class="col-md-2 text-right">
                              {{reply.user}} - {{reply.date_created | date:'dd-MM-yyyy'}}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            ng-show="vm.userRole === 'seller'"
            ng-repeat="question in vm.questions | startFrom:(vm.pagination.currentPage - 1)*vm.pagination.itemsPerPage | limitTo:vm.pagination.itemsPerPage"
            class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <img alt="image" ng-src="{{question.thumb_url_1}}">
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-10">
                          <h3>{{question.product}}</h3>
                        </div>
                        <div class="col-md-2 text-right">
                          <div>{{question.date_created | date:'dd-MM-yyyy'}}</div>
                          <button ui-sref="questionDetail({id: question.estimation_id})" class="btn btn-success btn-xs">Ver mas</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <p>{{question.question}}</p>
                      <ul class="list-unstyled">
                        <li ng-repeat="reply in question.replies">
                          <div class="row">
                            <div class="col-md-10">
                              {{reply.answer}}
                            </div>
                            <div class="col-md-2 text-right">
                              {{reply.user}} - {{reply.date_created | date:'dd-MM-yyyy'}}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="page-pagination text-center col-xs-12 fix mb-40">
            <ul
              uib-pagination
              total-items="vm.pagination.totalItems"
              ng-if="vm.pagination.totalItems"
              ng-model="vm.pagination.currentPage"
              items-per-page="vm.pagination.itemsPerPage"
              class="pagination-sm"
              previous-text="&lsaquo;"
              next-text="&rsaquo;"
              first-text="&laquo;"
              last-text="&raquo;">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
