<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col-xs-6">
        <h2>Pregunta</h2>
      </div>
    </div>
  </div>
</div>

<qa answer="vm.userRole === 'buyer'" item-id="vm.quotationId"></qa>